<div class="sidebar-nav">
    <ul>
        <li>
            <a class="has-arrow lnkCostSheetMenu" href="#" aria-expanded="false">
                <span>Cost Sheet Preparation</span>
            </a>
            <ul aria-expanded="false" class="collapse costSheetSubMenu" style="margin-top: 10px;">
                <li><a href="/rfq/{{rfq.id}}/costsheet/prepare">Prepare &amp; Send for approval</a><br /></li>
                <!--<li><a href="/rfq/{{rfq.id}}/costsheet/compare">Compare Cost Sheets</a><br /></li>-->
                <li><a href="/rfq/{{rfq.id}}/costsheet/approval">Approved &amp; Send to Customer</a><br /></li>
            </ul>
            <hr />
        </li>


        <li><a href="#">Quotation</a><hr /></li>
        <li><a href="/rfq/{{rfq.id}}/samplesubmission">Sample Submission</a><hr /></li>
        <li><a href="/rfq/{{rfq.id}}/purchaseorder">Receive PO</a><hr /></li>
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(
            function () {             
                $(".lnkCostSheetMenu").on('click', function () {
                    $(".costSheetSubMenu").toggle("fast", function () {
                        $(".lnkCostSheetMenu").attr('aria-expanded', $(".costSheetSubMenu").is(':visible'));
                    });
                });
            }, 500);
    });
</script>