<div class="sidebar-nav">
    <ul>
        <li><a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}/rfq/{{rfq.id}}"><span>RFQ Detail</span></a><hr /></li>
        <li>
            <a class="has-arrow lnkCostSheetMenu" href="#" aria-expanded="false">
                <span>Cost Sheet Preparation</span>
            </a>
            <ul aria-expanded="false" class="collapse costsheet" style="margin-top: 10px;">
                <li><a href="/rfq/{{rfq.id}}/costsheet/prepare">Prepare &amp; Send for Approval</a><br /></li>
                <li><a href="/rfq/{{rfq.id}}/costsheet/approval">Approved &amp; Send to Customer</a><br /></li>
            </ul>
            <hr />
        </li>

        <li>
            <a class="has-arrow lnkCostSheetMenu" href="#" aria-expanded="false">
                <span>Quotation</span>
            </a>
            <ul aria-expanded="false" class="collapse quotation" style="margin-top: 10px;">
                <li><a href="/rfq/{{rfq.id}}/quotation/short">Short Quotation</a><br /></li>
                <li><a href="/rfq/{{rfq.id}}/quotation/detail">Detail Quotation</a><br /></li>
            </ul>
            <hr />
        </li>
        <li><a href="/rfq/{{rfq.id}}/samplesubmission"><span>Sample Submission</span></a><hr /></li>
        <li><a href="/rfq/{{rfq.id}}/purchaseorder"><span>Receive PO</span></a><hr /></li>

    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(
            function () {             
                $(".lnkCostSheetMenu").on('click', function () {
                    $(this).next("ul").toggle("fast", function () {
                        $(".lnkCostSheetMenu").attr('aria-expanded', $(this).next("ul").is(':visible'));
                    });
                });

                if (window.location.href.indexOf("costsheet") > -1) {
                    $(".costsheet").show().attr("aria-expanded", "true").parent().find(".lnkCostSheetMenu").attr("aria-expanded", "true");
                }
                if (window.location.href.indexOf("quotation") > -1) {
                    $(".quotation").show().attr("aria-expanded", "true").parent().find(".lnkCostSheetMenu").attr("aria-expanded", "true");
                }
            }, 500);
    });
</script>