<div class="card">
   
    <section data-ng-init="findOneByRfqId()">
        <h1>RFQ Detail - {{rfq.subject | capitalize}}
            <span class="row pull-right">
                <span>
                    <a class="btn btn-danger" ui-sref="viewBuyer({buyerId : rfq.BuyerId, customerId: rfq.Buyer.CustomerId})">Cancel</a>
                </span>
            </span>
        </h1> 
        

        <div class="clear clearfix"></div><br />

        <div class="row">
            <div class="col col-lg-6" style="background-color: linen;">
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <div class="col col-lg-8">
                        <p><label>Buyer: </label><strong>{{rfq.Buyer.name}}</strong></p>
                        <p><label>Email: </label><strong>{{rfq.Buyer.email}}</strong></p>
                    </div>
                    <div class="col col-lg-4">
                        <p><label>Company: </label><strong>{{rfq.Buyer.Customer.company}}</strong></p>
                        <p><label>Owner: </label><strong>{{rfq.Buyer.Customer.name}}</strong></p>
                    </div>
                </div>
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <label class="col-lg-4">Assigned: </label>
                    <div class="col-lg-8">
                        <select ng-controller="UsersController" ng-init="find()" class="form-control ddlUser" required name="UserId" data-ng-model="rfq.UserId">
                            <option value="">Select </option>
                            <option ng-repeat="user in users" value="{{user.id}}">{{user.firstName + " " + user.lastName}} ({{user.email}})</option>
                        </select>
                        <br />
                        <div class="lblMsg"></div>
                        <input type="hidden" class="hdnUserId" value="{{rfq.UserId}}">
                        <input type="hidden" class="hdnRfqId" value="{{rfq.id}}" />
                    </div>
                </div>
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <ul id="carousel" class="elastislide">
                        <li data-ng-repeat="image in rfq.RfqImages| orderBy : '-createdAt'">
                            <a data-fancybox="gallery" href="{{image.imagePath}}"><img src="{{image.imagePath}}" alt="image{{image.id}}" /></a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <h4 align="center"><strong>Comments</strong></h4>
                <div ng-include="'views/rfqs/rfqComments.html'"></div>
            </div>
        </div>

        <div class="clear clearfix"></div> <br />
        <hr />

        <div class="row">
            <div class="col col-lg-3 " style="border-right:1px solid #000;">
                <h3><strong>Action</strong></h3>
                <div ng-include="'views/rfqs/rfqLeftNavigation.htm'"></div>
            </div>
            <div class="col col-lg-9">
                <h3><strong>Email Content</strong></h3>
                <div class="clear clearfix"></div> <br />
                <div style=" overflow:auto; max-height: 300px">
                    <p ng-bind-html="trustAsHtml(rfq.content)"></p>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        setTimeout(
            function () {

                if ($(".elastislide").length > 0) {
                    $('.elastislide').elastislide();
                }

                if ($(".hdnUserId").val() != "") {
                    $(".ddlUser option[selected]").remove();
                    $(".ddlUser").val($(".hdnUserId").val());
                }
            }, 500);

        $(".ddlUser").on('change', function () {
            var $me = $(this);
            var rfqId = $('.hdnRfqId').val();
            var ddlUserId = $(this).val();
            $.ajax({
                url: '/rfqs/' + rfqId,
                method: "PUT",
                data: { UserId: ddlUserId, id: rfqId }
            }).done(function (response) {
                if ($me.val() == "") {
                    $(".lblMsg").html("<span>RFQ assigned to nobody</span>").addClass("alert alert-success");
                } else {
                    $(".lblMsg").html("<span>RFQ assigned to " + $me.find("option:selected").text() + "</span>").addClass("alert alert-success");
                }
            });
        });
    });
</script>