 <div class="card">

    <section data-ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">
        <h1>
            RFQ Detail - <span class="rfqSubject">{{rfq.subject | capitalize}}</span>
            <span class="row pull-right">
                <span>
                    <a class="btn btn-danger" style="color:#fff;" ui-sref="viewBuyer({buyerId : rfq.BuyerId, customerId: rfq.Buyer.CustomerId})"><span>Cancel</span></a>
                </span>
            </span>
        </h1>


        <div class="clear clearfix"></div><br />

        <div class="row">
            <div class="col col-lg-6" style="background-color: #e7e7e7; min-height:200px">
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <div class="col col-lg-8">
                        <p><label>Buyer: </label><strong>{{rfq.Buyer.name}}</strong></p>
                        <p><label>Email: </label><strong>{{rfq.Buyer.email}}</strong></p>
                    </div>
                    <div class="col col-lg-4">
                        <p><label>Company: </label><strong>{{rfq.Buyer.Customer.company}}</strong></p>
                        <p><label>Owner: </label><strong>{{rfq.Buyer.Customer.name}}</strong></p>
                    </div>
                </div>
                <div class="clear clearfix"></div><hr />
                <div class="row">
                    <label class="col-lg-3">Assigned: </label>
                    <div class="col-lg-9">
                        <div ng-hide="isPoReceived(rfq)">
                            <!--<select ng-controller="UsersController" ng-init="find()" class="form-control ddlUser" required name="UserId" data-ng-model="rfq.UserId" ng-show="global.user.isAdmin">
            <option value="">Select </option>
            <option ng-repeat="user in users" value="{{user.id}}">{{user.firstName + " " + user.lastName}} ({{user.email}})</option>
        </select>

        <div ng-show="!global.user.isAdmin">
            <strong>{{(rfq.User.firstName + " " + rfq.User.lastName).trim() || "-"}}</strong>
            <a ng-show="(rfq.User.firstName + ' ' + rfq.User.lastName).trim() == ''" class="btn btn-primary pull-right" href="#" ng-click="assignToMeRfq(rfq.id)">Assign to Me</a>
        </div>-->

                            <select ng-controller="UsersController" ng-init="find()" class="form-control ddlUser" required name="UserId" data-ng-model="rfq.UserId">
                                <option value="" data-email="" data-name="">Select </option>
                                <option ng-repeat="user in users" value="{{user.id}}" data-email="{{user.email}}" data-name='{{user.firstName + " " + user.lastName}}'>{{user.firstName + " " + user.lastName}} ({{user.email}})</option>
                            </select>
                        </div>
                        <strong ng-show="isPoReceived(rfq)">{{(rfq.User.firstName + " " + rfq.User.lastName).trim() || "-"}}</strong>

                        <br />
                        <div class="lblMsg"></div>
                        <input type="hidden" class="hdnUserId" value="{{rfq.UserId}}">
                        <input type="hidden" class="hdnRfqId" value="{{rfq.id}}" />
                        <input type="hidden" class="hdnCustomerId" value="{{rfq.Buyer.CustomerId}}" />
                        <input type="hidden" class="hdnBuyerId" value="{{rfq.BuyerId}}" />
                    </div>
                </div>
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <ul id="carousel" class="elastislide">
                        <li data-ng-repeat="image in rfq.RfqImages| orderBy : '-createdAt'">
                            <a data-fancybox="gallery" href="{{image.imagePath}}">                              
                                   <img src="{{image.displayPath}}" alt="image{{image.id}}"   />
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <div ng-include="'views/rfqs/rfqComments.html'"></div>
            </div>
        </div>

        <div class="clear clearfix"></div> <br />
        <hr />

            <div ng-include="'views/rfqs/rfqLeftNavigation.htm'" class="col col-lg-12"></div>

        <div class="box-shadow">

            <style>
                .feasibility a {
                    color: #fff !important;
                }
            </style>
            <div class="row"  style="margin: 0;">
                <div class="col col-lg-6 feasibility">

                    <h3><strong>Feasibilities</strong></h3>
                    <div class="clear clearfix"></div> <br />
                    <div class="row">
                        <div class="col col-lg-12">
                            <a href="#" class="btn btn-primary lnkAdd  pull-right" title="add row">
                                <span><i class="fa fa-plus-circle"></i></span>
                            </a>
                        </div>
                    </div>

                    <div class="clear clearfix"></div> <br />
                    <div ng-repeat="item in rfq.RfqFeasibilities" ng-show="rfq.RfqFeasibilities.length > 0">
                        <div class="row">
                            <div class="col col-lg-5">
                                <input class="txtPartName form-control" type="text" placeholder="Part name" value="{{item.partName}}">
                            </div>
                            <div class="col col-lg-5">
                                <input class="chkIsFeasible" type="checkbox" id="chkIsFeasibile{{item.id}}" ng-checked="item.isFeasible == true">
                                <label for="chkIsFeasibile{{item.id}}">Is Feasible ?</label>
                            </div>
                            <div class="col col-lg-2">
                                <div>
                                    <a href="#" class="btn btn-danger lnkRemove pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="clear clearfix"></div> <br />
                    </div>

                    <div class="row" ng-show="rfq.RfqFeasibilities.length == 0">
                        <div class="col col-lg-5">
                            <input class="txtPartName form-control" type="text" placeholder="Part name">
                        </div>
                        <div class="col col-lg-5">
                            <input class="chkIsFeasible" type="checkbox" id="chkIsFeasibile">
                            <label for="chkIsFeasibile">Is Feasible ?</label>
                        </div>
                        <div class="col col-lg-2">
                            <div>
                                <a href="#" class="btn btn-danger lnkRemove pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="clear clearfix"></div> <br />
                    <div class="pnlParameter row">
                    </div>
                    <div class="row">
                        <div class="col col-lg-3 center">
                            <a href="#" class="btnSubmit btn btn-primary">Save Feasibility</a>
                        </div>
                    </div>

                    <div class="alert alert-success" id="lblFeasibleMsg">Feasibility data saved successfully</div>
                </div>

                <div class="col col-lg-6 feasibility">
                    <h3>
                        Customer Notification<br />
                        <small>Send mail to customer stating them about infeasible parts</small>
                    </h3>

                    <div>
                        <textarea class="tinymce">
                            <p>Hello {{rfq.Buyer.name}},</p>

                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th><strong>Part Number</strong></th>
                                        <th>&nbsp;<strong>Feasible</strong></th>
                                        <th><strong>Reason</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 33.3333%;">
                                            <br>
                                        </td>
                                        <td style="width: 33.3333%;">
                                            <br>
                                        </td>
                                        <td style="width: 33.3333%;">
                                            <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br>
                                        </td>
                                        <td>
                                            <br>
                                        </td>
                                        <td>
                                            <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br>
                                        </td>
                                        <td>
                                            <br>
                                        </td>
                                        <td>
                                            <br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>
                                <br>Regards,
                                <br>Metaforge pvt.ltd.
                            </p>

                        </textarea>
                    </div> <br />
                    <div>
                        <a href="#" class="btnSend btn btn-primary">Send Mail</a>
                        <div class="alert alert-success m-t-10 mt-10" id="lblFeasibleMailMsg">Mail send successfully</div>
                        <input type="hidden" value="{{rfq.Buyer.email}}" class="hdnBuyerEmail" />
                    </div>
                </div>
            </div>

            <hr />

            <div class="clear clearfix"></div> <br />
            <div class="">
                <div class="col col-lg-12">
                    <h3><strong>Email Content</strong></h3>
                    <div class="clear clearfix"></div> <br />
                    <div style="overflow:auto; max-height: 500px">
                        <p ng-bind-html="trustAsHtml(rfq.content)"></p>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <br />
       
        
        <script type="text/javascript">
            $(document).ready(function () {
                $("#lblFeasibleMsg, #lblFeasibleMailMsg").hide();
                //   console.log($scope);
                var loadCode = setInterval(function () {
                    if ($(".hdnRfqId").length > 0 && $(".hdnRfqId").val() != "") {
                        if ($(".elastislide").length > 0) {
                            $('.elastislide').elastislide();
                        }
                        if ($(".hdnUserId").val() != "") {
                            $(".ddlUser option[selected]").remove();
                            $(".ddlUser").val($(".hdnUserId").val());
                        }

                        /*
                         * Assigned mail
                         * Assigned name
                         * Rfq subject
                         * Rfq link
                         * Sender name
                         * Date Assigned
                        */

                        $(".ddlUser").on('change', function () {
                            var emailContent,
                                $me = $(this),
                                rfqId = $('.hdnRfqId').val(),
                                ddlUserId = $(this).val(),
                                assignedEmail = $me.find('option:selected').data('email'),
                                assignedName = $me.find('option:selected').data('name');
                            if (assignedEmail !== '') {
                                var senderName = window.user.firstName + " " + window.user.lastName,
                                    rfqSubject = $(".rfqSubject").html(),
                                    rfqLink = "http://metaforge.herokuapp.com/customer/" + $(".hdnCustomerId").val() + "/buyer/" + $(".hdnBuyerId").val() + "/rfq/" + $(".hdnRfqId").val(),
                                    currentDate = new Date(),
                                    dateAssigned = currentDate.getDate() + "/" + (currentDate.getMonth() + 1) + "/" + currentDate.getFullYear();

                                emailContent = "Hi " + assignedName;
                                emailContent += "<br /><br />" + senderName + " has assigned you new RFQ subject as " + rfqSubject + " on " + dateAssigned + ".";
                                emailContent += "<br />Please <a href='" + rfqLink + "'>click here</a> to see more details";
                                emailContent += "<br /><br />Best Regards, Metaforge Team<br /> ";
                            }
                            $.ajax({
                                url: '/rfqs/' + rfqId,
                                method: "PUT",
                                data: { UserId: ddlUserId, id: rfqId, assignedEmail: assignedEmail, emailContent: emailContent  }
                            }).done(function (response) {
                                if ($me.val() == "") {
                                    $(".lblMsg").html("<span>RFQ assigned to nobody</span>").addClass("alert alert-success");
                                } else {
                                    $(".lblMsg").html("<span>RFQ assigned to " + $me.find("option:selected").text() + "</span>").addClass("alert alert-success");
                                }
                            });
                        });

                        var bindRemoveParameter = function () {
                            $(".lnkRemove").on('click', function () {
                                //$(this).parent().parent().parent().next().remove(".clearfix");
                                //$(this).parent().parent().parent().next().remove("br");
                                var $target = $(this).parent().parent().parent();
                                $target.hide("slow", function () {
                                    $target.remove();
                                    if ($(".txtPartName").length == 0) {
                                        $('.btnSubmit ').hide();
                                    } else {
                                        $('.btnSubmit ').show();
                                    }
                                });
                            });
                        },
                        createDynamicTextFields = function ($ele, callback) {
                            var width = "12",
                                currentTimeStamp = Date.now(),
                            inputName = $("<input />", { class: 'txtPartName form-control', type: 'text', placeholder: 'Part Name' }),
                            inputValue = $("<input />", { class: 'chkIsFeasible', type: 'checkbox', id: currentTimeStamp }),

                            divCol5Name = $('<div>', { class: 'col col-lg-5' }).html(inputName),
                            divCol5Value = $('<div>', { class: 'col col-lg-5' }).html(inputValue).append(' <label for="' + currentTimeStamp + '">Is Feasible ?</label>'),
                            divCol2Space = $('<div>', { class: 'col col-lg-2' }).html('<a href="#" class="btn btn-danger lnkRemove pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a >'),

                            divRow = $('<div>', { class: 'row' }).append(divCol5Name, divCol5Value, divCol2Space),
                            divColWidth = $('<div>', { class: 'col col-' + width + ' animated fadeInDown m-b-5' }).append(divRow);

                            $ele.parents().parents().find(".pnlParameter").append(divColWidth);
                            bindRemoveParameter();
                            typeof callback === 'function' && callback();
                        },

                        savePartFeasibilities = function (feasibilityFields) {
                            $(".btnSubmit").html('<i class="fa fa-spin fa-spinner"></i>');
                            $.ajax({
                                url: '/rfqFeasibilities/',
                                method: "POST",
                                data: { RfqId: $(".hdnRfqId").val(), UserId: window.user.id, records: feasibilityFields }
                            }).done(function (response) {
                                $(".btnSubmit").html('Save Feasibility');
                                $("#lblFeasibleMsg").show().delay(5000).fadeOut();
                            });
                        };

                        // add dynamic fields to DOM
                        $(".lnkAdd").on('click', function (e) {
                            createDynamicTextFields($(this));
                            if ($(".txtPartName").length == 0) {
                                $('.btnSubmit ').hide();
                            } else {
                                $('.btnSubmit ').show();
                            }
                            e.stopImmediatePropagation();
                            return false;
                        });

                        $(".btnSubmit").on('click', function () {
                            var totalRecord = $('.txtPartName:visible').length,
                                feasibilityFields = [],
                                validField = [];

                            if (totalRecord > 0) {
                                $('.txtPartName:visible').each(function (key, item) {
                                    var obj = {};
                                    if ($.trim($(item).val()) == "") {
                                        $(item).css("border", "1px solid red");
                                        validField.push(false);
                                    } else {
                                        $(item).css("border", "");
                                        obj.partName = $(item).val();
                                        obj.isFeasible = $(item).parent().parent().find('.chkIsFeasible').prop("checked");
                                        feasibilityFields.push(obj);
                                    }
                                });
                            }
                            if ($.inArray(false, validField) < 0) {
                                savePartFeasibilities(feasibilityFields);
                            }
                        });
                        bindRemoveParameter();

                        if ($(".tinymce:visible").length > 0) {
                            $('.tinymce').froalaEditor({
                                height: 200
                            });
                        }

                        $(".btnSend").on('click', function () {
                            $(".btnSend").html('<i class="fa fa-spin fa-spinner"></i>');
                            $.ajax({
                                url: '/rfqs/sendfeasiblemail',
                                method: "POST",
                                data: { buyerEmail: $(".hdnBuyerEmail").val(), emailContent: $('.tinymce').froalaEditor('html.get') }
                            }).done(function (response) {
                                $(".btnSend").html('Send Mail');
                                $("#lblFeasibleMailMsg").show().delay(5000).fadeOut();
                            });
                        });

                        clearInterval(loadCode);
                    }
                }, 500);
            });
        </script>
    </section>
    <section ng-show="rfq.id == null && validatePermission">
        <h1>403 - Forbidden</h1>
        <p>Access Denied. You don't have access to view this page</p>
    </section>

    <section ng-show="!validatePermission">
        <h3>Loading please wait..!!</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
        </div>
    </section>
</div>

