<h1>Create Buyer</h1>

<div class="alert alert-danger" ng-show="errorMessage.length > 0">{{errorMessage}}</div>
<div ng-show="message.length > 0">
    <div class="alert alert-info">{{message}}</div>
</div>
<section class="card">
    <form class="form-horizontal myForm" data-ng-submit="create()">
        <div class="control-group">
            <label class="control-label" for="email">Email</label>

            <div class="controls">
                <input type="email" ng-model="buyer.email" id="email" name="email" placeholder="Email" class="form-control col-sm-6 txtEmail" />
            </div>
            <span class="errorEmail" style="color:red;"></span>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input type="text" ng-model="buyer.name" id="name" name="name" placeholder="Name" class="form-control col-sm-6 txtName" />
            </div>
            <span class="errorName" style="color:red;"></span>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="contact">Contact Number</label>

            <div class="controls">
                <input type="text" ng-model="buyer.contact" id="contact" name="contact" placeholder="Contact" class="form-control col-sm-6 txtContact" />
            </div>
            <span class="errorContact" style="color:red;"></span>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="contact">Images</label>
            <div class="controls">
                <div id="myId" class="dropzone col-sm-6"></div>
            </div>
        </div>

        <input type="text" style="display:none;" class="hdnImages" name="imagesString" id="imagesString" data-ng-model="imagesString" />

        <div class="clearfix"></div><br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary btn-Save" value="Save">
                <a class="btn btn-secondary" href="javascript:window.history.back();">Cancel</a>
            </div>
        </div>
    </form>
</section>

<!--<script src="/js/validation/buyer.js"></script>-->

<script src="/js/lib/form-validation/jquery.validate.min.js"></script>
<!--<script src="/js/lib/form-validation/jquery.validate-init.js"></script>-->
<script src="/js/validation/validations.js"></script>
<link href="/css/validations.css" rel="stylesheet" />


<script type="text/javascript">
    $(document).ready(function () {
        var imagesArray = [];
        var myDropzone = new Dropzone('#myId', {
            url: "/customerimages/"
        });
        myDropzone.on("success", function (file, response) {
            console.log(response);
            imagesArray.push(response.pathFromRoot);
        });

        $(".btn-Save").on('click', function () {
            $(".hdnImages").val(imagesArray.join(",")).trigger('change');
        });
    });
</script>
