<div class="card">
    <h1>Customer Detail</h1>
    <section data-ng-init="findOne()">
        <div class="row pull-right">
            <div>
                <a class="btn btn-primary" ui-sref="editCustomers({customerId : customer.id})">Edit</a>
                <a class="btn btn-danger" href="/customer">Cancel</a>
            </div>
        </div>

        <div class="clear clearfix"></div><br />

        <div class="row">
            <div class="col col-lg-6" style="background-color: linen;">
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <div class="col col-lg-9">
                        <p><label>Customer Name: </label><strong>{{customer.name}}</strong></p>
                        <p><label>Email: </label><strong>{{customer.email}}</strong></p>
                        <p><label>Contact: </label><strong>{{customer.contact}}</strong></p>
                    </div>
                    <div class="col col-lg-3">
                        <p><label>Company: </label><strong>{{customer.company}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-4">
                        <img src="/img/no-image.png" class="img-responsive" />
                    </div>
                    <div class="col col-lg-4">
                        <img src="/img/no-image.png" class="img-responsive" />
                    </div>
                    <div class="col col-lg-4">
                        <img src="/img/no-image.png" class="img-responsive" />
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <h4 align="center"><strong>Comments</strong></h4>
                <div ng-controller="CustomercommentsController">
                    <div ng-init="find()" style="height:150px; overflow-y:auto; border:1px solid #000; padding:5px;">
                        <ul>
                            <li ng-repeat="customercomment in customercomments| orderBy : '-createdAt'">
                                <div class="pull-left">
                                    {{customercomment.User.firstName}} {{customercomment.User.lastName}} <small>({{customercomment.User.email}})</small>
                                    <br />&raquo; <small> {{customercomment.comment}}</small>
                                </div>
                                <small class="pull-right">
                                    <i>{{customercomment.createdAt  | date:'medium'}}</i>
                                </small>
                                <div class="clear clearfix fc-clear"></div>
                                <hr />
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix clear"></div>
                    <hr />
                    <form class="form-horizontal" data-ng-submit="create()" name="myForm" id="myForm">
                        <div class="row" style=" padding:5px;">
                            <textarea data-ng-model="comment" name="comment" id="comment" placeholder="Add new comment" class="form-control col-lg-10"></textarea>
                            <input type="submit" class="btn btn-secondary col-lg-2" value="Comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clear clearfix"></div> <br />
        <hr />
        <h3>Buyers</h3>
        <div class="row">
            <div class="col col-lg-12">
                <section data-ng-init="find()" class="table-responsive" ng-controller="BuyersController">
                    <table class="table table-bordered" ng-show="buyers.length">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Created</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="buyer in buyers">

                                <td>
                                    <label><a class="btn">{{buyer.name}}</a></label>
                                </td>
                                <td>
                                    <label>{{buyer.email}}</label>
                                </td>


                                <td>
                                    <span>{{buyer.contact}}</span>
                                </td>

                                <td>
                                    <span>{{buyer.createdAt | date:'medium'}}</span>
                                </td>

                                <td style="text-align:center">
                                    <a ui-sref="" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a class="btn" title="Delete"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="!buyers.length" class="alert alert-danger">No requirement from this customer</div>
                </section>
            </div>
        </div>
    </section>
</div>
