<div class="card">
    <h1>Buyer Detail</h1>
    <section data-ng-init="findOne()">
        <div class="row pull-right">
            <div ng-show="global.user.role == 'Agent' || global.user.isAdmin">
                <a class="btn btn-primary" ui-sref="editBuyers({buyerId : buyer.id, customerId: buyer.CustomerId})">Edit</a>
                <a class="btn btn-danger"  ui-sref="viewCustomer({customerId : buyer.CustomerId})">Cancel</a>
            </div>
        </div>

        <div class="clear clearfix"></div><br />

        <div class="row">
            <div class="col col-lg-6" style="background-color: linen;">
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <div class="col col-lg-9">
                        <p><label>Buyer Name: </label><strong>{{buyer.name}}</strong></p>
                        <p><label>Email: </label><strong>{{buyer.email}}</strong></p>
                        <p><label>Contact: </label><strong>{{buyer.contact}}</strong></p>
                    </div>
                    <div class="col col-lg-3">
                        <p><label>Company: </label><strong>{{buyer.Customer.company}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <ul id="carousel" class="elastislide">
                        <li data-ng-repeat="image in buyer.BuyerImages| orderBy : '-createdAt'">
                            <a data-fancybox="gallery" href="{{image.imagePath}}"><img src="{{image.imagePath}}" alt="image{{image.id}}"/></a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <h4 align="center"><strong>Comments</strong></h4>
                <div ng-controller="BuyercommentsController">
                    <div ng-init="find()" style="max-height:400px; overflow-y:auto; border:1px solid #000; padding:5px;" ng-show="buyercomments.length">                 
                        <div class="panel-body">
                            <ul class="chat">
                                <li ng-repeat="buyercomment in buyercomments| orderBy : 'createdAt'" ng-class="(buyercomment.User.id !== userId ? 'left clearfix' : 'right clearfix')">
                                    <span ng-class="(buyercomment.User.id !== userId ? 'chat-img pull-left' : 'chat-img pull-right')">
                                        <img src="http://placehold.it/50/{{(buyercomment.User.id !== userId ? '5c4ac7': 'FA6F57')}}/fff&text={{buyercomment.User.firstName.charAt(0) + buyercomment.User.lastName.charAt(0)}}" alt="{{buyercomment.User.firstName.charAt(0) + buyercomment.User.lastName.charAt(0)}}" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong ng-class="(buyercomment.User.id !== userId ? 'primary-font' : 'primary-font pull-right')"> {{(buyercomment.User.id !== userId ?  (buyercomment.User.firstName + " " + buyercomment.User.lastName).trim() : "Me")}}</strong>
                                            <small class="{{(buyercomment.User.id !== userId ? 'pull-right' : '')}} text-muted">
                                                <span class="fa fa-clock-o"></span> {{buyercomment.createdAt  | date:'medium'}}
                                            </small>
                                        </div>
                                        <p style="margin: 2px 0">
                                            {{buyercomment.comment}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix clear"></div>
                    <hr />
                    <form class="form-horizontal" data-ng-submit="create()" name="myForm" id="myForm">
                        <div class="row" style=" padding:5px;">
                            <textarea data-ng-model="comment" name="comment" id="comment" placeholder="Add new comment" class="form-control col-lg-10"></textarea>
                            <input type="submit" class="btn btn-secondary col-lg-2" value="Comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clear clearfix"></div> <br />
        <hr />
        <h3>RFQs</h3>
        <div class="row">
            <div class="col col-lg-12">
                <section data-ng-init="findByBuyer()" class="table-responsive" ng-controller="RfqsController">
                    <table class="table table-bordered" ng-show="rfqs.length">
                        <thead>
                            <tr>
                                <!--<th>Sr.No</th>-->
                                <th>Subject</th>
                                <th>Buyer</th>
                                <th>Customer</th>
                                <th>Assign To</th>
                                <th>Created</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rfq in rfqs | orderBy : '-createdAt'">
                                <!--<td>
                                            <a target="_self"  title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.id}}</a>
                                        </td>-->
                                <td>
                                    <a target="_self" title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                </td>
                                <td>
                                    {{rfq.Buyer.name}}
                                </td>
                                <td>
                                    {{rfq.Buyer.Customer.company}}
                                </td>
                                <td>
                                    <label>{{rfq.User.firstName || "-"}}</label>
                                </td>

                                <td>
                                    <span>{{rfq.createdAt | date:'medium'}}</span>
                                </td>
                                <td>
                                    <a target="_self" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})" title="View">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="!rfqs.length" class="alert alert-danger">No requirement from this buyer</div>
                </section>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            if ($(".elastislide").length > 0) {
                $('.elastislide').elastislide();
            }
        }, 500);
    });
</script>