<div data-ng-show="global.authenticated" ng-controller="DashboardsController">
    <h1>Dashboard</h1>
    <div ng-init="find()">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-80 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>{{siteSummary.TotalRqf | number}}</h2>
                            <p class="m-b-0">Total RFQ</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-80 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>{{siteSummary.CompletedRfq | number}}</h2>
                            <p class="m-b-0">Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-80 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>{{siteSummary.PendingRqf | number}}</h2>
                            <p class="m-b-0">Pending</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-30">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-80 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <h2>{{siteSummary.OpenRfq | number}}</h2>
                            <p class="m-b-0">Open</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-white m-l-0 m-r-0 box-shadow ">
            <!-- column -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Extra Area Chart</h4>
                        <div id="extra-area-chart"></div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body browser">
                        <p class="f-w-600">Open <span class="pull-right">{{siteSummary.OpenPercentage}}%</span></p>
                        <div class="progress ">
                            <div role="progressbar" style="width: {{siteSummary.OpenPercentage}}%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"></div>
                        </div>

                        <p class="m-t-30 f-w-600">Completed<span class="pull-right">{{siteSummary.CompletedPercentage}}%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: {{siteSummary.CompletedPercentage}}%; height:8px;" class="progress-bar bg-success wow animated progress-animated"></div>
                        </div>
                        <p class="m-t-30 f-w-600">Pending<span class="pull-right">{{siteSummary.PendingPercentage}}%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: {{siteSummary.PendingPercentage}}%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>

    </div>
    <div class="row" ng-show="rfqs.length">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Recent Open RFQ </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <section ng-init="findOpenRfq()" class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Subject</th>
                                        <th>Buyer</th>
                                        <th>Customer</th>
                                        <th>Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rfq in rfqs | orderBy : '-createdAt'">
                                        <td>
                                            <a title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                        </td>
                                        <td>
                                            <a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}">{{rfq.Buyer.name}}</a>
                                        </td>
                                        <td>
                                            <a href="/customer/{{rfq.Buyer.CustomerId}}">{{rfq.Buyer.Customer.company}}</a>
                                        </td>                                     
                                        <td>
                                            <span>{{rfq.createdAt | date:'medium'}}</span>
                                        </td>   
                                        <td>
                                            <a class="btn btn-primary" href="#" ng-click="assignToMeRfq(rfq.id)">Assign to Me</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" ng-show="myRfqs.length">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>My RFQ </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <section ng-init="findMyRfq()" class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Subject</th>
                                        <th>Buyer</th>
                                        <th>Customer</th>
                                        <th>Created</th>
                                        <th ng-show="global.user.isAdmin">Assign To</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rfq in myRfqs | orderBy : '-createdAt'">
                                        <td>
                                            <a title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                        </td>
                                        <td>
                                            <a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}">{{rfq.Buyer.name}}</a>
                                        </td>
                                        <td>
                                            <a href="/customer/{{rfq.Buyer.CustomerId}}"> {{rfq.Buyer.Customer.company}}</a>
                                        </td>
                                        <td>
                                            <span>{{rfq.createdAt | date:'medium'}}</span>
                                        </td>
                                        <td ng-show="global.user.isAdmin">
                                            {{(rfq.User.firstName + " " +  rfq.User.lastName).trim() || rfq.User.email || "-"}}
                                        </td>
                                        <td ng-bind-html="trustAsHtml(rfq.customStatus)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/lib/morris-chart/morris.js"></script>
    <script src="/js/lib/morris-chart/dashboard1-init.js"></script>
</div>
