<div data-ng-show="global.authenticated" ng-controller="DashboardsController" id="test">
    <style>
        .m-b-0 {
            color: #000 !important;
        }
        .rfqcount {
            font-size: 25px !important;
            color: #000 !important;
            font-weight:bold;

        }
    </style>

    <div class="page-titles">
        <h3 class="text-primary">Dashboard</h3>
    </div>
    <div class="container-fluid">
        <div>

            <div class="row m-b-10">
                <div class="col col-lg-3"></div>
                <div class="col col-lg-6">
                    <div class=flatpickr>
                        <div class="row">
                            <div class="col col-lg-12">
                                <input type="text" placeholder="Select date range to filter following graph" data-input class="form-control">
                                <a class="input-button" title="clear" style="z-index:10; cursor:pointer;" data-clear><i class="icon-close" style="position: absolute;top: 14px;right: 25px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3"></div>
            </div>



            <div class="row">
                <div class="col-md-3">
                    <div class="card p-2">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-file f-s-20 color-primary"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <p class="m-b-0"> <span class="totalRfqCount rfqcount"></span> Total RFQ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-file f-s-20 color-success"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <p class="m-b-0"> <span class="completedRfqCount rfqcount"></span> Completed</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-file f-s-20 color-warning"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <p class="m-b-0"><span class="pendingRfqCount rfqcount"></span> Pending </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-2">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-file f-s-20 color-danger"></i></span>
                            </div>
                            <div class="media-body media-text-right">
                                <p class="m-b-0"> <span class="openRfqCount rfqcount"></span> Open</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row   bg-white ">
                <!-- column -->
                <div class="col-lg-8" style="border-right:15px solid #F9F9F9">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Summary</h4>
                            <div id="extra-area-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <!-- column -->
                <div class="col-lg-4" style="border-left:15px solid #F9F9F9">
                    <div class="card">
                        <div class="card-body browser">
                            <p class="f-w-600">Open <span class="pull-right"><span class="openPercentage"></span>%</span></p>
                            <div class="progress ">
                                <div role="progressbar" style="width: 0%; height:8px;" class="progress-bar openPercentage-bar bg-danger wow animated progress-animated"></div>
                            </div>

                            <p class="m-t-30 f-w-600">Completed<span class="pull-right"><span class="completedPercentage"></span>%</span></p>
                            <div class="progress">
                                <div role="progressbar" style="width: 0%; height:8px;" class="progress-bar completedPercentage-bar bg-success wow animated progress-animated"></div>
                            </div>
                            <p class="m-t-30 f-w-600">Pending<span class="pull-right"><span class="pendingPercentage"></span>%</span></p>
                            <div class="progress">
                                <div role="progressbar" style="width: 0%; height:8px;" class="progress-bar pendingPercentage-bar bg-warning wow animated progress-animated"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column -->
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Status Bar</h4>
                        </div>
                        <div class="card-content">
                            <div id="basic-bar" style="height: 370px"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Status Pie</h4>
                        </div>
                        <div class="card-content">
                            <div id="basic-Pie" style="height: 370px"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row" ng-show="{{rfqs !== undefined && !rfqs.length}}">
            <div class="col col-lg-12 text-center">
                <i class="fa fa-spin fa-spinner" style="font-size:48px;"></i>
            </div>
        </div>


        <div class="row" ng-show="myRfqs.length">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>My RFQ </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <section ng-init="findMyRfq()" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Buyer</th>
                                            <th>Customer</th>
                                            <th>Created</th>
                                            <th ng-show="global.user.isAdmin">Assign To</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rfq in myRfqs | orderBy : '-createdAt'">
                                            <td>
                                                <a title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                            </td>
                                            <td>
                                                <a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}">{{rfq.Buyer.name || "-"}}</a>
                                            </td>
                                            <td>
                                                <a href="/customer/{{rfq.Buyer.CustomerId}}"> {{rfq.Buyer.Customer.company}}</a>
                                            </td>
                                            <td>
                                                <span>{{rfq.createdAt | date:'medium'}}</span>
                                            </td>
                                            <td ng-show="global.user.isAdmin">
                                                {{(rfq.User.firstName + " " +  rfq.User.lastName).trim() || rfq.User.email || "-"}}
                                            </td>
                                            <td ng-bind-html="trustAsHtml(rfq.customStatus)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" ng-show="rfqs.length">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Recent Open RFQ </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <section ng-init="findOpenRfq()" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Buyer</th>
                                            <th>Customer</th>
                                            <th>Created</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rfq in rfqs | orderBy : '-createdAt'">
                                            <td>
                                                <a title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                            </td>
                                            <td>
                                                <a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}">{{rfq.Buyer.name || "-"}}</a>
                                            </td>
                                            <td>
                                                <a href="/customer/{{rfq.Buyer.CustomerId}}">{{rfq.Buyer.Customer.company}}</a>
                                            </td>

                                            <td>
                                                <span>{{rfq.createdAt | date:'medium'}}</span>
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-warning" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})" ng-show="!rfq.RfqFeasibilities.length">Check Feasibility</a>
                                                <a class="btn btn-primary btnAssign" href="#" ng-click="assignToMeRfq(rfq.id)" ng-show="rfq.RfqFeasibilities.length">Assign to Me</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="hidden" class="hdnRfqLength" value="{{rfqs.length}}" />
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <script src="/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/lib/morris-chart/morris.js"></script>
    <script src="/js/lib/echart/echarts.js"></script>
    <script src="/js/lib/morris-chart/dashboard1-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var loadCode;
            function actualFunction() {
                if ($(".hdnRfqLength").length > 0 && $(".hdnRfqLength").val() != "") {
                    $('.loader').hide();
                    clearInterval(loadCode);
                    $('table').DataTable({
                        dom: 'lBfrtip',
                        buttons: [
                            'excel', 'pdf', 'print'
                        ]
                    });
                }
            }
            loadCode = setInterval(actualFunction, 500);
        });
    </script>
</div>
