<div data-ng-show="global.authenticated" ng-controller="DashboardsController" id="test">
    <style>
        .m-b-0 { color:#000 !important; }
    </style>
    <div class="page-titles">
		<h3 class="text-primary">Dashboard</h3>
	</div>
	<div class="container-fluid">
		<div ng-init="find()">
        <div class="row">
            <div class="col-md-3">
                <div class="card p-2">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-20 color-primary"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <p class="m-b-0"> {{siteSummary.TotalRqf | number}} Total RFQ</p>
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-2">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-20 color-success"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <p class="m-b-0"> {{siteSummary.CompletedRfq | number}} Completed</p>
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-2">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-20 color-warning"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <p class="m-b-0">{{siteSummary.PendingRqf | number}} Pending </p>
</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-2">
                    <div class="media">
                        <div class="media-left meida media-middle">
                            <span><i class="fa fa-file f-s-20 color-danger"></i></span>
                        </div>
                        <div class="media-body media-text-right">
                            <p class="m-b-0"> {{siteSummary.OpenRfq | number}} Open</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row   bg-white ">
            <!-- column -->
            <div class="col-lg-8"  style="border-right:15px solid #F9F9F9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Summary</h4>
                        <div id="extra-area-chart"></div>
                    </div>
                </div>
            </div>
            <!-- column -->
            <!-- column -->
            <div class="col-lg-4"  style="border-left:15px solid #F9F9F9" >
                <div class="card">
                    <div class="card-body browser">
                        <p class="f-w-600">Open <span class="pull-right">{{siteSummary.OpenPercentage}}%</span></p>
                        <div class="progress ">
                            <div role="progressbar" style="width: {{siteSummary.OpenPercentage}}%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"></div>
                        </div>

                        <p class="m-t-30 f-w-600">Completed<span class="pull-right">{{siteSummary.CompletedPercentage}}%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: {{siteSummary.CompletedPercentage}}%; height:8px;" class="progress-bar bg-success wow animated progress-animated"></div>
                        </div>
                        <p class="m-t-30 f-w-600">Pending<span class="pull-right">{{siteSummary.PendingPercentage}}%</span></p>
                        <div class="progress">
                            <div role="progressbar" style="width: {{siteSummary.PendingPercentage}}%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>

            <div class="row">               
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-title">
                            <h4>Status Bar</h4>
                        </div>
                        <div class="card-content">
                            <div id="basic-bar" style="height: 370px"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-title">
                            <h4>Status Pie</h4>
                        </div>
                        <div class="card-content">
                            <div id="basic-Pie" style="height: 370px"></div>
                        </div>
                    </div>
                </div>

            </div>
    </div>


        <div class="row" ng-show="!rfqs.length">
            <div class="col col-lg-12 text-center">
                <i class="fa fa-spin fa-spinner" style="font-size:48px;"></i>
            </div>
        </div>


        <div class="row" ng-show="myRfqs.length">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>My RFQ </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <section ng-init="findMyRfq()" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Buyer</th>
                                            <th>Customer</th>
                                            <th>Created</th>
                                            <th ng-show="global.user.isAdmin">Assign To</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rfq in myRfqs | orderBy : '-createdAt'">
                                            <td>
                                                <a title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                            </td>
                                            <td>
                                                <a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}">{{rfq.Buyer.name}}</a>
                                            </td>
                                            <td>
                                                <a href="/customer/{{rfq.Buyer.CustomerId}}"> {{rfq.Buyer.Customer.company}}</a>
                                            </td>
                                            <td>
                                                <span>{{rfq.createdAt | date:'medium'}}</span>
                                            </td>
                                            <td ng-show="global.user.isAdmin">
                                                {{(rfq.User.firstName + " " +  rfq.User.lastName).trim() || rfq.User.email || "-"}}
                                            </td>
                                            <td ng-bind-html="trustAsHtml(rfq.customStatus)"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
	<div class="row" ng-show="rfqs.length">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <h4>Recent Open RFQ </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <section ng-init="findOpenRfq()" class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Subject</th>
                                        <th>Buyer</th>
                                        <th>Customer</th>
                                        <th>Created</th>
                                        <th  class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="rfq in rfqs | orderBy : '-createdAt'">
                                        <td>
                                            <a title="View" class="btn" ui-sref="viewRfq({customerId: rfq.Buyer.CustomerId , buyerId: rfq.BuyerId, rfqId : rfq.id})">{{rfq.subject}}</a>
                                        </td>
                                        <td>
                                            <a href="/customer/{{rfq.Buyer.CustomerId}}/buyer/{{rfq.BuyerId}}">{{rfq.Buyer.name}}</a>
                                        </td>
                                        <td>
                                            <a href="/customer/{{rfq.Buyer.CustomerId}}">{{rfq.Buyer.Customer.company}}</a>
                                        </td>  
                                                                    
                                        <td>
                                            <span>{{rfq.createdAt | date:'medium'}}</span>
                                        </td>   
                                        <td class="text-center">
                                            <a class="btn btn-primary btnAssign" href="#" ng-click="assignToMeRfq(rfq.id)">Assign to Me</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" class="hdnRfqLength" value="{{rfqs.length}}" />
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

     

    
	</div>
    <script src="/js/lib/morris-chart/raphael-min.js"></script>
    <script src="/js/lib/morris-chart/morris.js"></script>
    <script src="/js/lib/echart/echarts.js"></script>
    <script src="/js/lib/morris-chart/dashboard1-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            var loadCode;
            function actualFunction() {
                if ($(".hdnRfqLength").length > 0 && $(".hdnRfqLength").val() != "") {
                    $('.loader').hide();
                        clearInterval(loadCode);
                    }
            }
            loadCode = setInterval(actualFunction, 500);
        });
    </script>
</div>
