<h1>Edit User</h1>
<section data-ng-init="findOne()">
    <form class="form-horizontal" data-ng-submit="update()">
        <div class="control-group">
            <label for="name" class="control-label">First name</label>
            <div class="controls">
                <input id="firstName" type="text" name="firstName" class="form-control" placeholder="First name" data-ng-model="user.firstName" required>
            </div>
        </div>
        <div class="control-group">
            <label for="name" class="control-label">Last name</label>
            <div class="controls">
                <input id="lastName" type="text" name="lastName" class="form-control" placeholder="Last name"  data-ng-model="user.lastName" required>
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
                <input id="email" type="email" class="form-control" name="email" placeholder="Email"  data-ng-model="user.email" required>
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">Contact</label>
            <div class="controls">
                <input id="contact" type="text" class="form-control" name="contact" placeholder="Contact"  data-ng-model="user.contact" required>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input id="password" type="password" class="form-control" name="password" placeholder="Password"  data-ng-model="user.password" required>
            </div>
        </div>

        <div class="control-group">
            <label for="department" class="control-label">Department</label>
            <div class="controls">
                <div ng-controller="DepartmentsController" ng-init="find()">
                    <select class="form-control"  data-ng-model="user.DepartmentId" required>
                        <option value="">Select Department </option>
                        <option ng-repeat="department in departments" value="{{department.id}}">{{department.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="clear"></div><br />
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="/user">Cancel</a>
        </div>
    </form>
</section>