<div class="head-row removable-row ">
    <span class="row-remove"><i class="fa fa-minus-circle"></i></span>
    <div class="row">
        <div class="col">
            <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Process</label>
            <select class="stage-process form-control txtValue ddlConversionSamplesubmission"></select>
            <input type="hidden" value="{{record.stageProcess}}" class="hdnConversionSamplesubmission" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Source</label>
            <input type="text" placeholder="Order To" class="form-control txtOrderTo txtValue" id="txtOrderTo" value="{{record.orderTo}}"
            />
        </div>
        <div class="col">
            <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Target Date</label>
            <input type="text" placeholder="Order Date" class="form-control txtOrderDate datepicker txtValue" id="txtOrderDate" value="{{record.orderDate | date:'dd/MM/yyyy'}}"
            />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Completion Date</label>
            <input type="text" placeholder="Order Received" class="form-control txtOrderReceived datepicker txtValue" id="txtOrderReceived"
                value="{{record.receivedDate | date:'dd/MM/yyyy'}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Cost</label>
            <input type="text" placeholder="Cost" class="form-control txtCost txtValue" id="txtCost" value="{{record.cost | number : 2}}"
            />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Description</label>
            <input type="text" placeholder="Description" class="form-control txtDescription txtValue" id="txtDescription" value="">
        </div>
    </div>