<div class="card" ng-controller="RfqsController">
  
    <section ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">
        <h1>Sample Submission</h1>
        <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>

        <div class="row">
            <div class="col col-lg-3 " style="border-right:1px solid #000;">
                <h3><strong>Action</strong></h3>
                <div ng-include="'views/rfqs/rfqLeftNavigation.htm'"></div>
            </div>

            <div class="col col-lg-9">
                <h3>Sample Submission</h3>

                <!--Sample Status data start-->
                <div data-ng-init="getAllSampleStatus()" ng-show="sampleStatusData.length">
                    <table class="table table-bordered col col-lg-9">
                        <thead>
                            <tr>
                                <th style="text-align:center">Process</th>
                                <th style="text-align:center">Start date</th>
                                <th style="text-align:center">Target date</th>
                                <th style="text-align:center">Status</th>
                                <th style="text-align:center">Performance</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in sampleStatusData">
                                <td style="text-align:center">
                                    <label>{{data.process}}</label>
                                </td>
                                <td style="text-align:center">
                                    <label>{{data.startDate  | date:'dd/MM/yyyy'}}</label>
                                </td>
                                <td style="text-align:center">
                                    <label>{{data.targetDate  | date:'dd/MM/yyyy'}}</label>
                                </td>
                                <td style="text-align:center">
                                    <label ng-class="(data.status == 'To do' ? 'badge badge-info' : (data.status == 'In progress' ? 'badge badge-warning' : (data.status == 'Completed' ? 'badge badge-success' : 'badge')))">{{data.status}}</label>
                                </td>

                                <td style="text-align:center">
                                    <label ng-class="(data.performance == 'Overdue' || data.performance == 'After time'? 'badge badge-danger' : (data.performance != '-' ? 'badge badge-success': ''))">
                                        {{data.performance}}
                                    </label><br />
                                    <small ng-show="data.status == 'Completed'">Completed Date:{{data.updatedAt | date:"dd/MM/yyyy"}}</small>
                                </td>

                                <td>

                                    <a class="btn btn-outline-warning lnkUpdateStatus" ng-click="updateStatus(data.id, 'In progress')" href="#" title="click to start" ng-show="global.user.isAdmin || data.status =='To do'">
                                        <span><i class="fa fa-thumbs-o-up"></i></span>
                                    </a>

                                    <a class=" btn btn-outline-info lnkUpdateStatus" ng-click="updateStatus(data.id, 'To do')" href="#" title="click to reset" ng-show="global.user.isAdmin || data.status =='In progress'">
                                        <span><i class="fa fa-refresh"></i></span>
                                    </a>

                                    <a class=" btn btn-outline-danger lnkUpdateStatus" ng-click="updateStatus(data.id, 'Cancelled')" href="#" title="click to cancel" ng-show="global.user.isAdmin || (data.status!='Completed' && data.status!='Cancelled')">
                                        <span><i class="fa fa-times"></i></span>
                                    </a>

                                    <a class=" btn btn-outline-primary lnkUpdateStatus" ng-click="updateStatus(data.id, 'Completed')"href="#" title="click to complete" ng-show="global.user.isAdmin || data.status =='In progress'">
                                        <span><i class="fa fa-check"></i></span>
                                    </a>

                                    <div style="text-align:center" ng-show="!global.user.isAdmin && data.status=='Completed'">-</div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="!sampleStatusData.length" align="center">No sample has been submitted yet</div>
                <!--Sample Status data end-->

                <div data-ng-controller="SampleSubmissionsController" data-ng-init="findOne()">
                    <div class="row">
                        <ul class="elastislide1">
                            <li class="img_wrp" data-ng-repeat="image in samplesubmission.Samplesubmissionimages | orderBy : '-createdAt'" style="margin-right:3px;">
                                <a data-fancybox="gallery" href="{{image.imagePath}}">
                                    <img src="{{image.imagePath}}" alt="image{{image.id}}" />
                                </a>
                                <a ng-click="deleteImage(image.id)"><i class="close fa fa-close" aria-hidden="true" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br /><br />
                <a class="btn btn-secondary btnChangeStatus pull-right" href="#">Add Process</a>
                <div class="clear clearfix"></div>
                <br />


                <!-- Update status panel -->
                <div ng-hide="isPoReceived(rfq)" class="hide pnlStatusUpdate">

                    <div class="control-group">
                        <label for="status" class="control-label">Status</label>
                        <div class="controls row">
                            <div class="col-lg-6">

                                <select class="form-control ddlSamplesubmission" id="selectedStatus" ng-init="findOne()" required>
                                    <option value="">Select Status</option>
                                    <option ng-repeat="status in Status" value="{{status}}">{{status}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <div class="errorStatus error"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label">Start Date</label>
                        <div class="controls row">
                            <div class="col-lg-6">
                                <div class="input-group date" data-provide="datepicker">
                                    <input type="text" class="datepicker form-control" id="sampleStatusStartDate" name="sampleStatusStartDate" placeholder="Select Start Date">
                                    <div class="input-group-addon">
                                        &nbsp;<span class="fa f-s-30 fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="errorStartDate error"></div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="control-group">
                        <label class="control-label">Target Date</label>
                        <div class="controls row">
                            <div class="col-lg-6">
                                <div class="input-group date" data-provide="datepicker">

                                    <input type="text" class="datepicker form-control" id="sampleStatusTargetDate" name="sampleStatusTargetDate" placeholder="Select Target Date">
                                    <div class="input-group-addon">
                                        &nbsp;<span class="fa f-s-30 fa-calendar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="errorDate error"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label">Images</label>
                        <div id="myId" class="dropzone col-lg-6"></div>
                   </div>
                        <br />

                        <input type="text" style="display:none;" class="hdnImages" name="imagesString" id="imagesString" data-ng-model="imagesString" />
                        <div class="clear clearfix"></div><br />
                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn btn-primary btn-Save" value="Save">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="hdnRfqId" value="{{rfq.id}}" />
                    <br />
                </div>
        </div>

    </section>

    <section ng-show="rfq.id == null && validatePermission">
        <h1>403 - Forbidden</h1>
        <p>Access Denied. You don't have access to view this page</p>
    </section>

    <section ng-show="!validatePermission">
        <h1>Loading please wait..!!</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
        </div>
    </section>
</div>

<script src="/js/lib/datepicker/bootstrap-datepicker.min.js"></script>
<script src="/js/view/samplesubmission.js"></script>


