<h1>Add Sample Submission</h1>
<section class="card" ng-controller="SampleSubmissionsController">
    <form class="form-horizontal" data-ng-submit="create()">
        <div class="row">
            <div class="col col-lg-6" style="background-color: linen;">
                <div class="clear clearfix"></div><br />

                <div class="row">
                    <div class="col col-lg-4">
                        <img src="/img/no-image.png" class="img-responsive" />
                    </div>
                    <div class="col col-lg-4">
                        <img src="/img/no-image.png" class="img-responsive" />
                    </div>
                    <div class="col col-lg-4">
                        <img src="/img/no-image.png" class="img-responsive" />
                    </div>

                </div>

            </div>
        </div>
        <br /><br />
        <div id="myId" class="dropzone">
            <!--id="dropzone-form" -->
            <!--<div id="myId">Drop here</div>-->
        </div>

        <br /><br />
        <div class="control-group">
            <label for="status" class="control-label">Status</label>
            <div class="controls">
                <div style="width:50%;">
                    <select class="form-control" ng-model="selectedStatus" required>
                        <option value="" selected>---- Select Status ----</option>
                        <option ng-repeat="status in Status" value="{{status}}">{{status}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="clear clearfix"></div><br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary btn-Save" value="Save">
                <a class="btn btn-secondary" href="javascript:window.history.back();">Cancel</a>
            </div>
        </div>
    </form>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        var myDropzone = new Dropzone('#myId', {
            url: "/customerimages/"
        });
    });
</script>

