<div class="head-row removable-row ">
    <span class="row-remove"><i class="fa fa-minus-circle"></i></span>
    <div class="row">
        <div class="col">
            <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Process</label>
            <input type="text" placeholder="Process" class="stage-process form-control txtValue " id="stage-process" value="{{record.stageProcess}}"
            />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Order To</label>
            <input type="text" placeholder="Order To" class="form-control txtOrderTo txtValue" id="txtOrderTo" value="{{record.orderTo}}"
            />
        </div>
        <div class="col">
            <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Order Date</label>
            <input type="text" placeholder="Order Date" class="form-control txtOrderDate datepicker txtValue" id="txtOrderDate" value="{{record.orderDate | date:'dd/MM/yyyy'}}"
            />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Order Received</label>
            <input type="text" placeholder="Order Received" class="form-control txtOrderReceived datepicker txtValue" id="txtOrderReceived"
                value="{{record.receivedDate | date:'dd/MM/yyyy'}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Description</label>
            <input type="text" placeholder="Description" class="form-control txtDescription txtValue" id="txtDescription" value="{{record.description}}">
        </div>
    </div>
</div>