<div class="col col-lg-12">
    <div class="head-row removable-row">
        <span class="row-remove"><i class="fa fa-minus-circle"></i></span>
        <div class="row">
            <div class="col">
                <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Process</label>
                <input type="text" placeholder="Process" class="form-control stage-process txtValue" id="stage-process" value="" />
            </div>
            <div class="col">
                <label class="txtPredefinedName text-muted m-b-2 f-s-12">Order To</label>
                <input type="text" placeholder="Order To" class="form-control txtOrderTo txtValue" id="txtOrderTo" value="" />
            </div>
            <div class="col">
                <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Order Date</label>
                <input type="text" placeholder="Order Date" class="form-control txtOrderDate datepicker txtValue" id="txtOrderDate" value="{{record.orderDate | date:'dd/MM/yyyy'}}"
                />
            </div>
            <div class="col">
                <label class="txtPredefinedName text-muted m-b-2 f-s-12">Order Received</label>
                <input type="text" placeholder="Order Received" class="form-control datepicker txtOrderReceived txtValue" id="txtOrderReceived"
                    value="{{record.receivedDate | date:'dd/MM/yyyy'}}" />
            </div>
            <div class="col">
                <label class="txtPredefinedName text-muted m-b-2 f-s-12">Cost</label>
                <input type="text" placeholder="Cost" class="form-control txtCost txtValue" id="txtCost" value="" />
            </div>
            <div class="col">
                <label class="txtPredefinedName text-muted m-b-2 f-s-12">Description</label>
                <input type="text" placeholder="Description" class="form-control txtDescription txtValue" id="txtDescription" value="">
            </div>
        </div>
    </div>
</div>