<div class="head-row removable-row ">
    <span class="row-remove"><i class="fa fa-minus-circle"></i></span>
    <div class="row">
        <div class="col">
            <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Process</label>
            <select class="stage-process form-control txtValue ddlStageProcess">
                <option value="Die" ng-selected="{{record.stageProcess == 'Die'}}">Die</option>
                <option value="Punch" ng-selected="{{record.stageProcess == 'Punch'}}">Punch</option>
                <option value="Cutter" ng-selected="{{record.stageProcess == 'Cutter'}}">Cutter</option>
                <option value="Quil" ng-selected="{{record.stageProcess == 'Quil'}}">Quil</option>
                <option value="Other" ng-selected="{{record.stageProcess == 'Other' || (record.stageProcess != 'Die' && record.stageProcess != 'Punch' && record.stageProcess != 'Cutter' && record.stageProcess != 'Quil')}}">Other</option>
            </select>
            <br />
            <input type="text" value="{{record.stageProcess}}" class="form-control txtValue txtStageProcess" ng-show="record.stageProcess != 'Die' && record.stageProcess != 'Punch' && record.stageProcess != 'Cutter' && record.stageProcess != 'Quil'" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Order To</label>
            <input type="text" placeholder="Order To" class="form-control txtOrderTo txtValue" id="txtOrderTo" value="{{record.orderTo}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Order Date</label>
            <input type="text" placeholder="Order Date" class="form-control txtOrderDate datepicker txtValue" id="txtOrderDate" value="{{record.orderDate | date:'dd/MM/yyyy'}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Expected Date</label>
            <input type="text" placeholder="Expected Date" class="form-control txtExpectedDate datepicker txtValue" id="txtExpectedDate"
                   value="{{record.expectedDate | date:'dd/MM/yyyy'}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Order Received</label>
            <input type="text" placeholder="Order Received" class="form-control txtOrderReceived datepicker txtValue" id="txtOrderReceived"
                   value="{{record.receivedDate | date:'dd/MM/yyyy'}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Cost</label>
            <input type="text" placeholder="Cost" class="form-control txtCost txtValue" id="txtCost" value="{{record.cost | number : 2}}" />
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Description</label>
            <input type="text" placeholder="Description" class="form-control txtDescription txtValue" id="txtDescription" value="{{record.description}}">
        </div>
    </div>
</div>