<h1>Edit Deparments</h1>
<section data-ng-init="findOne()" class="card">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="title">Name</label>

			<div class="controls">
				<input type="text" data-ng-model="department.name" id="title" placeholder="Name" class="form-control col-sm-6 txtName" required />			
			</div>
            <span class="error" style="color:red;"></span>
		</div>
        <br />
        <div class="control-group">
            <div class="checkbox">               
                <label class="control-label" for="status"><input type="checkbox" data-ng-model="department.status" id="status" /> Active</label>              
            </div>

            </div>
            <div class="clearfix"></div><br />
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary btn-Save" value="Save">
                    <a class="btn btn-secondary" href="/department">Cancel</a>
                </div>
            </div>
</form>
</section>

<script src="/js/validation/department.js"></script>