<h1>Deparments</h1>

<div class="card" ng-controller="MyCtrl">
    <div class="pull-right">
        <a href="/department/create" class="btn btn-primary">Add Department</a>
        <input type="search" data-ng-model="searchString" style="float:right;" />
        <img src="/img/search.png" style="float:right;" />

    </div>

    <div class="clearfix"></div> <br />
    <section data-ng-init="find()" class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th style="text-align:center">Active</th>
                    <th style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="department in departments | filter:{name:searchString} | startFrom:currentPage*pageSize | limitTo:pageSize" data-ng-if="department.name!='Admin'">
                    <td>
                        <!--  <label><a ui-sref="viewDepartment({departmentId : department.id})">{{department.name}}</a></label>-->
                        <label><a class="btn" ui-sref="editDepartments({departmentId : department.id})">{{department.name}}</a></label>
                    </td>
                    <td> <span>{{department.updatedAt | date:'medium'}}</span></td>
                    <td style="text-align:center">
                        <span>{{department.status == true ? "Yes" : "No"}}</span>
                    </td>
                    <td style="text-align:center">
                        <a class="btn" data-ng-click="remove(department);"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= departments.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>       
        <!--<ul class="departments unstyled">
            <li data-ng-repeat="department in departments">
                <h2><a ui-sref="viewDepartment({departmentId : department.id})">{{department.name}}</a></h2>
                <span>{{department.updatedAt | date:'medium'}}</span>
                <div class="clearfix"></div><br />
            </li>
        </ul>-->
        <h1 data-ng-hide="!departments || departments.length">No department yet. <br> Why don't you <a ui-sref="createDepartment">Create One</a>?</h1>
    </section>

</div>

    