<h1>Edit Conversion</h1>
<section data-ng-init="findOne()" class="card">
    <div ng-show="message.length > 0">
        <div class="alert alert-info">{{message}}</div>
    </div>
	<form class="form-horizontal myForm" data-ng-submit="update()">
        <div class="control-group">
            <label class="control-label" for="name">Operation</label>
            <div class="controls">
                <input type="text" data-ng-model="conversion.operation" id="operation" name="operation" placeholder="Operation" class="form-control col-sm-6 txtOperation">
            </div>
            <span class="error" style="color:red;"></span>
        </div>

        <div class="control-group">
            <label class="control-label" for="name">Machine</label>
            <div class="controls">
                <input type="text" data-ng-model="conversion.machine" id="machine" name="machine" placeholder="Machine" class="form-control col-sm-6 txtMachine">
            </div>
            <span class="error" style="color:red;"></span>
        </div>

        <div class="control-group">
            <label class="control-label" for="name">Rate</label>
            <div class="controls">
                <input type="text" data-ng-model="conversion.rate" id="rate" name="rate" placeholder="Rate" class="form-control col-sm-6 txtRate">
            </div>
            <span class="error" style="color:red;"></span>
        </div>


        <div class="control-group">
            <label class="control-label" for="name">Efficiency(%)</label>
            <div class="controls">
                <input type="text" data-ng-model="conversion.efficiency" id="efficiency" name="efficiency" placeholder="Efficiency" class="form-control col-sm-6 txtEfficiency">
            </div>
            <span class="error" style="color:red;"></span>
        </div>

        <div class="clear clearfix"></div><br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary btn-Save" value="Save">
                <a class="btn btn-secondary" href="/conversion">Cancel</a>
            </div>
        </div>
</form>
</section>

<!--<script src="/js/validation/department.js"></script>-->
<script src="/js/lib/form-validation/jquery.validate.min.js"></script>
<script src="/js/validation/validations.js"></script>
<link href="/css/validations.css" rel="stylesheet" />