<h1>Conversion</h1>

<div class="card">
    <div class="pull-right">
        <a href="/conversion/create" class="btn btn-primary">Add Conversion</a>
        <input type="search" data-ng-model="searchString" class="col-lg-4 pull-right form-control" placeholder="Search" />
    </div>

    <div class="clearfix"></div> <br />
    <section data-ng-init="find()" class="table-responsive">
        <div class="clearfix clear"></div><br />
        <div data-ng-show="conversions && conversions.length">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Operation</th>
                        <th>Machine</th>
                        <th>Rate/hr</th>
                        <th>Efficiency (%)</th>   
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr ng-repeat="conversion in conversions | filter:{machine, operation:searchString} | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:'operation'" >
                        <td>
                            <label><a class="btn" ui-sref="editConversions({conversionId : conversion.id})">{{conversion.operation}}</a></label>
                        </td>
                        <td>{{conversion.machine}}</td>
                        <td>Rs.{{conversion.rate}}/hr</td>
                        <td>{{conversion.efficiency}}%</td>
                      
                        <td style="text-align:center">
                            <a class="btn" data-ng-click="remove(conversion);"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix clear"></div><br />

            <div class="col-lg-12 center">
                <button ng-disabled="currentPage == 0" class="btn btn-warning" ng-click="currentPage=currentPage-1">
                    &laquo;
                </button>
                <label class="paginationLabel">{{currentPage+1}}</label> 
                <span>Out of</span>
                <label class="paginationLabel">{{numberOfPages()}}</label>
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" class="btn btn-warning" ng-click="currentPage = currentPage + 1">
        &raquo;
    </button>
</div>
        </div>

        <div class="clearfix clear"></div><br />
        <div class="alert alert-danger" data-ng-hide="!conversions || conversions.length">No record found</div>
    </section>

</div>

