<h1>Add Customer</h1>
<section class="card">
    <div class="clearfix"></div> <br />
    <div ng-show="message.length > 0">
        <div class="alert alert-info">{{message}}</div>
    </div>
    <form class="form-horizontal myForm" data-ng-submit="create()">
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" data-ng-model="email" name="email" id="email" placeholder="Email" class="form-control col-sm-6 txtEmail">
            </div>
            <span class="errorEmail" style="color:red;"></span>
        </div>
        <br />


        <div class="control-group">
            <label class="control-label" for="company">Company</label>
            <div class="controls">
                <input type="text" data-ng-model="company" id="company" name="company" placeholder="Company" class="form-control col-sm-6 txtCompany">
            </div>
            <span class="errorCompany" style="color:red;"></span>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" data-ng-model="name" id="name" name="name" placeholder="Name" class="form-control col-sm-6 txtName">
            </div>
            <span class="errorName" style="color:red;"></span>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="contact">Contact Number</label>
            <div class="controls">
                <input type="tel" data-ng-model="contact" id="contact" name="contact" placeholder="Contact Number" class="form-control col-sm-6 txtContact">
            </div>
            <span class="errorContact" style="color:red;"></span>
        </div>

        <div class="control-group">
            <label class="control-label">Images</label>
            <div class="controls">
                <div id="myId" class="dropzone col-sm-6"></div>
            </div>
        </div>
       
        <input type="text" style="display:none;" class="hdnImages" name="imagesString" id="imagesString" data-ng-model="imagesString"/>

        <div class="clear clearfix"></div><br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary btn-Save" value="Save">
                <a class="btn btn-secondary" href="/customer">Cancel</a>
            </div>
        </div>
    </form>
</section>

<script src="/js/lib/form-validation/jquery.validate.min.js"></script>
<!--<script src="/js/lib/form-validation/jquery.validate-init.js"></script>-->
<script src="/js/validation/validations.js"></script>
<link href="/css/validations.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {
        var imagesArray = [];
        var myDropzone = new Dropzone('#myId', {
            url: "/customerimages/"
        });
        myDropzone.on("success", function (file, response) {
            console.log(response);
            imagesArray.push(response.pathFromRoot);
        });

        $(".btn-Save").on('click', function () {
            $(".hdnImages").val(imagesArray.join(",")).trigger('change');            
        });
    });
</script>


