<h1>Edit Customer</h1>
<section data-ng-init="findOne()" class="card">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="email">Email</label>

			<div class="controls">
				<input type="email" data-ng-model="customer.email" id="title" placeholder="Email" class="form-control col-sm-6" required />			
			</div>
		</div>
        <br />

        <div class="control-group">
            <label class="control-label" for="company">Company</label>

            <div class="controls">
                <input type="text" data-ng-model="customer.company" id="company" placeholder="Company" class="form-control col-sm-6" required />
            </div>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input type="text" data-ng-model="customer.name" id="title" placeholder="Name" class="form-control col-sm-6" required />
            </div>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="contact">Contact Number</label>

            <div class="controls">
                <input type="text" data-ng-model="customer.contact" id="contact" placeholder="Contact" class="form-control col-sm-6" required />
            </div>
        </div>

        <br /><br />

        <div class="row">
            <ul id="carousel" class="elastislide" style="height:400px; padding:unset;">
                <li data-ng-repeat="image in customer.CustomerImages| orderBy : '-createdAt'" style="width:700px; margin-left:5px; margin-bottom:10px;" id="cutomerImage">
                    <a href="#"><img src="{{image.imagePath}}" alt="image{{image.id}}" class="img-responsive" /></a>
                    <br />
                    <a class="btn btn-danger deleteImage" data-id="{{image.id}}" style="color:white;">Delete - {{image.id}}</a>
                </li>

            </ul>
        </div>

        <br />
      
            <div class="clearfix"></div><br />
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Save">
                    <a class="btn btn-secondary" href="/customer">Cancel</a>
                </div>
            </div>
</form>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            if ($(".elastislide").length > 0) {
                $('.elastislide').elastislide();
            }

            $(".deleteImage").on('click', function () {
                var element = this;
                $.ajax({
                    url: '/customerimages/' + $(this).data("id"),
                    data: { id: $(this).data("id") },
                    method: "DELETE"
                }).done(function (response) {
                    $(".lblmsg").html("<span>deleted successfully !!!</span>");
                    $(element).parent().remove();
                });
                return false;
            });
        }, 500);

        

    });
</script>