<h1>Edit Customer</h1>
<section data-ng-init="findOne()" class="card">
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="email">Email</label>

			<div class="controls">
				<input type="email" data-ng-model="customer.email" id="title" placeholder="Email" class="form-control col-sm-6" required />			
			</div>
		</div>
        <br />

        <div class="control-group">
            <label class="control-label" for="company">Company</label>

            <div class="controls">
                <input type="text" data-ng-model="customer.company" id="company" placeholder="Company" class="form-control col-sm-6" required />
            </div>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="name">Name</label>

            <div class="controls">
                <input type="text" data-ng-model="customer.name" id="title" placeholder="Name" class="form-control col-sm-6" required />
            </div>
        </div>
        <br />

        <div class="control-group">
            <label class="control-label" for="contact">Contact Number</label>

            <div class="controls">
                <input type="text" data-ng-model="customer.contact" id="contact" placeholder="Contact" class="form-control col-sm-6" required />
            </div>
        </div>

        <br /><br />

        <div class="row" data-ng-show="customer.CustomerImages.length">
            <ul id="carousel" class="elastislide">
                <li class="img_wrp" data-ng-repeat="image in customer.CustomerImages | orderBy : '-createdAt'" style="margin-right:3px;">
                    <a data-fancybox="gallery" href="{{image.imagePath}}"><img src="{{image.imagePath}}" alt="image{{image.id}}" height="150"/></a>
                    <i class="close fa fa-close deleteImage" data-id="{{image.id}}" aria-hidden="true" />
                </li>

            </ul>
        </div>

        <br />

        <div class="control-group">
            <label class="control-label" for="contact">Images</label>
            <div class="controls">
                <div id="myId" class="dropzone col-sm-6"></div>
            </div>
        </div>

        <input type="text" style="display:none;" class="hdnImages" name="imagesString" id="imagesString" data-ng-model="imagesString" />

        <br /><br />
      
            <div class="clearfix"></div><br />
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary btn-Save" value="Save">
                    <a class="btn btn-secondary" href="/customer">Cancel</a>
                </div>
            </div>
</form>
</section>

<script type="text/javascript">

    $(document).ready(function () {

        var imagesArray = [];
        var myDropzone = new Dropzone('#myId', {
            url: "/customerimages/"
        });
        myDropzone.on("success", function (file, response) {
            imagesArray.push(response.pathFromRoot);
        });

        $(".btn-Save").on('click', function () {
            $(".hdnImages").val(imagesArray.join(",")).trigger('change');;
        });

        setTimeout(function () {
            if ($(".elastislide").length > 0) {
                $('.elastislide').elastislide();
            }

            $(".deleteImage").on('click', function () {
                var element = this;
                if (confirm("Are you sure to delete this image")) {
                    $.ajax({
                        url: '/customerimages/' + $(this).data("id"),
                        data: { id: $(this).data("id") },
                        method: "DELETE"
                    }).done(function (response) {
                        $(".lblmsg").html("<span>deleted successfully !!!</span>");
                        // $(element).parent().remove();
                        window.location.reload(true);

                    });
                    return false;
                }
            });
        }, 500);

        

    });
</script>

<style>
    .img_wrp {
  display: inline-block;
  position: relative;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
}

.fa-close {
  background: transparent;
  border-radius: 5%;
  height: 5em;
  width: 1em;
  color:red;
}
</style>