<h1>Customers</h1>

<div class="card" ng-controller="MyCtrl">
    <div class="pull-right">
        <a href="/customer/create" class="btn btn-primary">Add Customer</a>
        <input type="search" data-ng-model="searchString" style="float:right;" />
        <img src="/img/search.png" style="float:right;" />
    </div>
    <div class="clearfix"></div> <br />
    <section data-ng-init="find()" class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Created</th>
                    <th style="text-align:center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="customer in customers | filter: {name : searchString} | startFrom:currentPage*pageSize | limitTo:pageSize" data-ng-if="customer.name!='Admin'">
                    <!--<td>
                        <label><a class="btn" ui-sref="editCustomers({customerId : customer.id})">{{customer.email}}</a></label>
                    </td>-->
                    <td style="text-align:center">
                        <label><a class="btn" ui-sref="editCustomers({customerId : customer.id})">{{customer.name}}</a></label>
                    </td>
                    <td>
                        <label>{{customer.email}}</label>
                    </td>

                    <td>
                        <span>{{customer.company}}</span>
                    </td>

                    <td>
                        <span>{{customer.contact}}</span>
                    </td>

                    <td>
                        <span>{{customer.createdAt | date:'medium'}}</span>
                    </td>

                    <td style="text-align:center">
                        <a  ui-sref="editCustomers({customerId : customer.id})"  title="Edit"><i class="fa fa-pencil"></i></a>
                        <a class="btn" data-ng-click="remove(customer);" title="Delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
      
        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= customers.length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button>
        <h1 data-ng-hide="!customers || customers.length">No customers yet. <br> Why don't you <a ui-sref="createCustomer">Create One</a>?</h1>
    </section>
</div>