<div class="card">
    <h1>Customer Detail</h1>
    <section data-ng-init="findOne()">
        <div class="clearfix"></div> <br />
        <div ng-show="message.length > 0">
            <div class="alert alert-info">{{message}}</div>
        </div>
        <div class="row pull-right">
            <div>
                <a class="btn btn-primary" ui-sref="editCustomers({customerId : customer.id})" ng-show="global.user.isAdmin">Edit</a>
                <a class="btn btn-danger" href="/customer">Cancel</a>
            </div>
        </div>

        <div class="clear clearfix"></div><br />

        <div class="row">
            <div class="col col-lg-6" style="background-color: #e7e7e7;">
                <div class="clear clearfix"></div><br />
                <div class="row">
                    <div class="col col-lg-9">
                        <p><label>Customer Name: </label><strong class="lblCustomerName">{{customer.name}}</strong></p>
                        <p><label>Email: </label><strong>{{customer.email}}</strong></p>
                        <p><label>Contact: </label><strong>{{customer.contact}}</strong></p>
                    </div>
                    <div class="col col-lg-3">
                        <p><label>Company: </label><strong>{{customer.company}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <ul id="carousel" class="elastislide">
                        <li data-ng-repeat="image in customer.CustomerImages| orderBy : '-createdAt'">
                            <a data-fancybox="gallery" href="{{image.imagePath}}"><img src="{{image.imagePath}}" alt="image{{image.id}}" /></a>
                        </li>              
                  
                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <h4 align="center"><strong>Comments</strong></h4>
                <div ng-controller="CustomercommentsController">
                    <div ng-init="find()" style="max-height:400px; overflow-y:auto; border:1px solid #000; padding:5px;" ng-show="customercomments.length">                 
                        <div class="panel-body">
                            <ul class="chat">
                                <li ng-repeat="customercomment in customercomments| orderBy : 'createdAt'" ng-class="(customercomment.User.id !== userId ? 'left clearfix' : 'right clearfix')">
                                    <span ng-class="(customercomment.User.id !== userId ? 'chat-img pull-left' : 'chat-img pull-right')">
                                        <img src="http://placehold.it/50/{{(customercomment.User.id !== userId ? '5c4ac7': 'FA6F57')}}/fff&text={{customercomment.User.firstName.charAt(0) + customercomment.User.lastName.charAt(0)}}" alt="{{customercomment.User.firstName.charAt(0) + customercomment.User.lastName.charAt(0)}}" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong ng-class="(customercomment.User.id !== userId ? 'primary-font' : 'primary-font pull-right')"> {{(customercomment.User.id !== userId ?  (customercomment.User.firstName + " " + customercomment.User.lastName).trim() : "Me")}}</strong>
                                            <small class="{{(customercomment.User.id !== userId ? 'pull-right' : '')}} text-muted">
                                                <span class="fa fa-clock-o"></span> {{customercomment.createdAt  | date:'medium'}}
                                            </small>
                                        </div>
                                        <p style="margin: 2px 0">
                                            {{customercomment.comment}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix clear"></div>
                    <hr />
                    <form class="form-horizontal" data-ng-submit="create()" name="myForm" id="myForm">
                        <div class="row" style=" padding:5px;">
                            <textarea data-ng-model="comment" name="comment" id="comment" placeholder="Add new comment" class="form-control col-lg-10"></textarea>
                            <input type="submit" class="btn btn-secondary col-lg-2" value="Comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="clear clearfix"></div> <br />
        <hr />
        <h3>Buyers</h3>
        <div class="row">
            <div class="col col-lg-12">
                <div class="row pull-right">
                    <div class="col-lg-2" ng-show="global.user.role == 'Agent' || global.user.isAdmin">
                        <a ui-sref="createBuyer({customerId: customer.id})" class="btn btn-primary"><span>Add Buyer</span></a>
                    </div>
                </div>
                <div class="clear clearfix"></div><br />
                <section data-ng-init="find()" class="table-responsive" ng-controller="BuyersController">
                    <div ng-show="buyers.length">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Created</th>
                                    <th style="text-align:center" ng-show="global.user.role == 'Agent' || global.user.isAdmin">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="buyer in buyers| orderBy : '-createdAt'">

                                    <td>
                                        <label><a class="btn" ui-sref="viewBuyer({buyerId : buyer.id, customerId: customer.id})">{{buyer.name}}</a></label>
                                    </td>
                                    <td>
                                        <label>{{buyer.email}}</label>
                                    </td>


                                    <td>
                                        <span>{{buyer.contact}}</span>
                                    </td>

                                    <td>
                                        <span>{{buyer.createdAt | date:'medium'}}</span>
                                    </td>

                                    <td style="text-align:center" ng-show="global.user.role == 'Agent' || global.user.isAdmin">
                                        <a ui-sref="editBuyers({buyerId : buyer.id, customerId: customer.id})" title="Edit"><i class="fa fa-pencil"></i></a>
                                        <a class="btn" data-ng-click="remove(buyer);" title="Delete"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="!buyers.length" class="alert alert-danger">No requirement from this customer</div>
                </section>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var loadCode = setInterval(function () {
            if ($(".elastislide").length > 0) {
                $('.elastislide').elastislide();
            }
            if ($(".lblCustomerName").length > 0 && $(".lblCustomerName").html().length > 0 ) {
                clearInterval(loadCode);
            }
        }, 500);
    });
</script>