<h1>HT/ST</h1>

<div class="card">
    <div class="pull-right">
        <a href="/htst/create" class="btn btn-primary">Add HT/ST</a>
        <input type="search" data-ng-model="searchString" class="col-lg-4 pull-right form-control" placeholder="Search" />
    </div><br />

    <div ng-show="message.length > 0">
        <div class="alert alert-info">{{message}}</div>        
    </div>
    <div class="clearfix"></div> <br />

    <section data-ng-init="find()" class="table-responsive">
        <div class="clearfix clear"></div><br />
        <div data-ng-show="htsts && htsts.length">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Parameter</th>
                        <th>Details</th>
                        <th>Rate</th>   
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr ng-repeat="htst in htsts | filter:{details:searchString} | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:'id'" >
                        <td>{{htst.id}}</td>
                        <td>
                            <label><a class="btn" ui-sref="editHtsts({htstId : htst.id})">{{htst.parameter}}</a></label>
                        </td>
                        <td>{{htst.details}}</td>
                        <td>Rs.{{htst.rate}}/kg</td>
                        <td style="text-align:center">
                            <a class="btn" data-ng-click="remove(htst);"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix clear"></div><br />

            <div class="col-lg-12 center">
                <button ng-disabled="currentPage == 0" class="btn btn-warning" ng-click="currentPage=currentPage-1">
                    &laquo;
                </button>
                <label class="paginationLabel">{{currentPage+1}}</label> 
                <span>Out of</span>
                <label class="paginationLabel">{{numberOfPages()}}</label>
    <button ng-disabled="currentPage >= getData().length/pageSize - 1" class="btn btn-warning" ng-click="currentPage = currentPage + 1">
        &raquo;
    </button>
</div>
        </div>

        <div class="clearfix clear"></div><br />
        <div class="alert alert-danger" data-ng-hide="!htsts || htsts.length">No record found</div>
    </section>

</div>

