<style>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }
    
    button.close {
        right: 20px;
        top: 10px;
    }
</style>
<div class="card" ng-controller="RfqsController">

    <section ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">
        <h1>Purchase Order</h1>
        <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>


        <div class="row" ng-show="displayReceivePO(rfq) && canAccess('PO')">
            <div class="col col-lg-12">
                <h3>Receive Purchase Order</h3>
                <div class="alert alert-success lblMsg hide"></div>
                <div class="clear clearfix"></div>

                <div class="purchaseOrderSection">
                    <div data-ng-controller="PurchaseordersController" data-ng-init="findOne()">
                        <div>
                            <div class="row">
                                <ul class="elastislide1">
                                    <li class="img_wrp" data-ng-repeat="image in purchaseorder.PurchaseOrderImages | orderBy : '-createdAt'" style="margin-right:3px;">
                                        <a data-fancybox="gallery" href="{{image.imagePath}}">
                                            <img src="{{image.imagePath}}" alt="image{{image.id}}" height="180" />
                                        </a>
                                        <a ng-click="deleteImage(image.id)"><i class="close fa fa-close" aria-hidden="true" /></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <br /><br />
                        <div id="myId" class="dropzone"></div>

                        <br /><br />
                        <input type="hidden" class="form-control hdnPurchaseorderStatus" value="{{purchaseorder.status}}">
                        <input type="hidden" class="form-control hdnPurchaseorderApplication" value="{{purchaseorder.application}}">
                        <input type="hidden" class="form-control hdnPurchaseorderId" value="{{purchaseorder.id}}">
                        <div class="control-group">
                            <label for="status" class="control-label">Status</label>
                            <div class="controls">
                                <div style="width:50%;">
                                    <select class="form-control ddlPurchaseorder" id="selectedStatus" data-ng-model="purchaseorder.status" required>
                                        <option value="">---- Select Status ----</option>
                                        <option ng-repeat="staticStatus in Status" value="{{staticStatus}}" ng-selected="staticStatus == status">{{staticStatus}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <label class="control-label" for="gstNum">GST Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="purchaseorder.gstNum" id="gstNum" placeholder="GST Number" class="form-control col-sm-6 txtGSTNumber">
                            </div>
                            <span class="errorName" style="color:red;"></span>
                        </div>
                        <br />
                        <div class="control-group">
                            <label class="control-label" for="hsnNum">HSN Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="purchaseorder.hsnNum" id="hsnNum" placeholder="HSN Number" class="form-control col-sm-6 txtHSNNumber">
                            </div>
                            <span class="errorName" style="color:red;"></span>
                        </div>
                        <br />
                        <div class="control-group">
                            <label for="application" class="control-label">Application</label>
                            <div class="controls">
                                <div style="width:50%;">
                                    <select class="form-control ddlApplication" id="selectedApplication" data-ng-model="purchaseorder.application" required>
                                        <option value="">---- Select Application ----</option>
                                        <option ng-repeat="app in Application" value="{{app}}" ng-selected="app == application">{{app}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col col-lg-6">
                                <label for="txtReason" class="control-label col col-lg-12">Reason</label>
                                <textarea rows="6" class="col col-lg-12 txtReason" id="txtReason" data-ng-model="purchaseorder.reason"></textarea>
                            </div>
                            <div class="col col-lg-2 text-center" style="padding-top: 40px;">
                                <input class="chkIsClose" type="checkbox" id="chkIsClose" ng-checked="purchaseorder.isClosed == true">
                                <label for="chkIsClose">Is Closed ?</label>
                            </div>
                        </div>
                        <input type="text" style="display:none;" class="hdnImages" name="imagesString" id="imagesString" data-ng-model="imagesString" />
                        <div class="clear clearfix"></div><br />

                        <div class="col-lg-12 text-center" ng-show="rfq.RfqParts.length > 0">
                            <table class="table table-bordered tblParts">
                                <thead>
                                    <tr>
                                        <th>Part Name</th>
                                        <th>Actions</th>
                                        <th>Create Customer Costsheet</th>
                                        <th>Customer Costsheet</th>
                                        <th>Approved Costsheet</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in rfq.RfqParts" data-id="{{item.id}}">
                                        <td>{{item.partName}}</td>
                                        <td>
                                            <div class="control-group" ng-show="canAccess('sample submission target date')">
                                                <label class="control-label" for="sampleSubmissionTargetDate">Sample Submission Target Date</label>
                                                <div class="controls">
                                                    <input type="text" id="sampleSubmissionTargetDate{{item.id}}" placeholder="Sample Submission Target Date" class="form-control datepicker col-sm-12 txtsampleSubmissionTargetDate" ng-value="bindPOPartSubmissionTargetDate(rfq.POPartDetails,item.id)">
                                                </div>
                                                <span class="errorName" style="color:red;"></span>
                                            </div>
                                            <br />
                                            <div class="control-group" ng-show="canAccess('devloper target date')">
                                                <label class="control-label" for="developerTargetDate">Developer Target Date</label>
                                                <div class="controls">
                                                    <input type="text" id="developerTargetDate{{item.id}}" placeholder="Developer Target Date" class="form-control col-sm-12 datepicker txtdeveloperTargetDate" ng-value="bindPOPartDeveloperTargetDate(rfq.POPartDetails,item.id)">
                                                </div>
                                                <span class="errorName" style="color:red;"></span>
                                            </div>
                                            <br />
                                        </td>

                                        <td>
                                            <a href="/rfq/{{rfq.id}}/costsheet/prepare/{{item.id}}/0/1" class="createCustomerCostsheet" data-id="{{item.id}}" title="Create Customer Costsheet">Create</a>
                                        </td>

                                        <td><a class="view viewCustomerCostsheet" data-toggle="modal" data-target="#CustomerCostsheetModal" data-id="{{item.id}}" title="View Customer Costsheet"><i class="fa fa-eye" style="color:#27C46B;"></i></a></td>

                                        <td><a class="view viewApprovedCostsheet" data-toggle="modal" data-target="#ApprovedCostsheetModal" data-id="{{item.id}}" title="View Approved Costsheet"><i class="fa fa-eye" style="color:#27C46B;"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="clear clearfix"></div><br />
                        <div class="control-group">
                            <div class="controls">
                                <a href="#" class="btn btn-primary btn-Save">Save</a>
                                <a class="btn btn-secondary" href="javascript:window.history.back();">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="hdnRfqId" value="{{rfq.id}}" />
                <br />

            </div>
        </div>
        <div class="row" ng-show="!canAccess('PO')">
            <div class="alert alert-danger col col-lg-12">You may not have access for Purchase Order section. Please  get permission from admin</div>
        </div>
        <div class="row" ng-show="!displayReceivePO(rfq) && canAccess('PO')">
            <div class="alert alert-danger col col-lg-12">Quotation is not prepared yet. Please prepare Quotation first</div>
        </div>
    </section>

    <section ng-show="rfq.id == null && validatePermission">
        <h1>403 - Forbidden</h1>
        <p>Access Denied. You don't have access to view this page</p>
    </section>

    <section ng-show="!validatePermission">
        <h3>Loading please wait..!!</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                 style="width:100%">
            </div>
        </div>
    </section>
</div>
<div class="modal ng-scope" id="ApprovedCostsheetModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Approved Costsheet</h3>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger lblNotFoundMsg d-none">No Costsheet approved</div>
                <div class="col col-lg-12 pnlRecord">
                    <div class="alert alert-success lblMsg hide"></div>
                    <div class="clear clearfix"></div>


                    <div class="row section-approved-costsheet">

                        <div style="background-color:#e7e7e7; padding: 5px; box-shadow: 1px 1px 5px rgba(128,128,128,0.8)" class="costsheetHtml col col-12">
                            <h6>
                                <strong class="costsheetUserDetails"></strong>
                                <small class="costsheetUserEmail"></small>
                                <small class="pull-right costsheetcreatedAt"></small>
                            </h6>

                            <div class="clear clearfix"></div>

                            <div class="row">
                                <div class="col col-lg-12">
                                    <div class="clear clearfix"></div><br />
                                    <div class="cost-sheet-form">
                                        <div class="costsheetData">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <input type="hidden" class="hdnCostSheetDetails" value="{{costsheet}}" />
                        <input type="hidden" class="hdnCostSheetId" value="" />
                        <input type="hidden" class="hdnCostSheetData" value="{{costsheet[0].data}}" />

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal ng-scope" id="CustomerCostsheetModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Customer Costsheet</h3>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger lblNotFoundMsg d-none">No Customer Costsheet found</div>
                <div class="col col-lg-12 pnlRecord">
                    <div class="alert alert-success lblMsg hide"></div>
                    <div class="clear clearfix"></div>


                    <div class="row section-approved-costsheet">

                        <div style="background-color:#e7e7e7; padding: 5px; box-shadow: 1px 1px 5px rgba(128,128,128,0.8)" class="costsheetHtml col col-12">
                            <h6>
                                <strong class="customerCostsheetUserDetails"></strong>
                                <small class="customerCostsheetUserEmail"></small>
                                <small class="pull-right customerCostsheetCreatedAt"></small>
                            </h6>

                            <div class="clear clearfix"></div>

                            <div class="row">
                                <div class="col col-lg-12">
                                    <div class="clear clearfix"></div><br />
                                    <div class="cost-sheet-form">
                                        <div class="customerCostsheetData">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <input type="hidden" class="hdnCustomerCostSheetDetails" value="{{costsheet}}" />
                        <input type="hidden" class="hdnCustomerCostSheetId" value="" />
                        <input type="hidden" class="hdnCustomerCostSheetData" value="{{costsheet[0].data}}" />

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/js/lib/datepicker/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/view/purchaseorder.js"></script>