<section data-ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">

    <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>

    <div class="row">
        <div ng-include="'views/rfqs/rfqLeftNavigation.htm'" class="col col-lg-12"></div>
        <div class="col col-lg-4">
            <h3><strong>Approved Costsheet</strong></h3>
            <div ng-init="findApprovedCostSheetByRfqId()">
                <div ng-show="costsheet.status != 'approved'" class="alert alert-danger">Cost Sheet is not yet approved. Please get an approval from admin</div>
                <div ng-show="costsheet.status == 'approved'">
                    <div style="background-color:linen; padding: 5px">
                        <h6>
                            <strong> {{costsheet.User.firstName}} {{costsheet.User.lastName}}</strong>
                            <small>({{costsheet.User.email}})</small>
                            <small class="pull-right"><i> - {{costsheet.createdAt | date:'medium'}}</i></small>
                        </h6>

                        <div class="clear clearfix"></div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="clear clearfix"></div><br />
                                <div  class="cost-sheet-form">
                                        <div ng-repeat="item in costsheet.data">                                           
                                            <div class="row" ng-repeat="(key,value) in item"  ng-class="(key=='Total') == true && 'm-t-20 font-weight-bold'"> 
                                                <div class="col col-lg-6">
                                                    <label>{{key}}</label> 
                                                </div>
                                                <div class="col col-lg-6">
                                                   {{value}}
                                                </div>
                                            </div> <hr />
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <hr />                    
                    <input type="hidden" class="hdnCostSheetId" value="{{costsheet.id}}" />
                    <input type="hidden" class="hdnCostSheetData" value="{{costsheet.data}}"  />
                </div>
            </div>
        </div>
        <div class="col col-lg-8">
            <div class="txtEditor" ng-include="'views/quotations/quotation-template.html'">
            </div>

            <div class="clear clearfix fc-clear"></div><br />
            <input type="checkbox" class="chkAttachCostSheet" id="chkAttachCostSheet" /> <label for="chkAttachCostSheet">Attach costsheet ?</label>

            <br />
            <a class="btn btn-primary btnSubmit" href="#">Send Mail</a>
        </div>
    </div>
    
    <input class="hdnRfqId" id="hdnRfqId" type="hidden" value="{{rfq.id}}" />
    <input class="hdnBuyerDetail" id="hdnBuyerDetail" type="hidden" value="{{rfq.Buyer.name}}" data-email="{{rfq.Buyer.email}}" />

</section>
<!--<script src="/js/view/quotation.js"></script>-->
<script>
    $(document).ready(function () {
        var rfqId, costSheetId, costsheetData;

        //ajax call to save qoute
        var saveQuotation = function () {
            var dfd = $.Deferred();
            $.ajax({
                url: '/quotations/',
                method: "POST",
                data: { UserId: window.user.id, RfqId: rfqId, CostSheetId: costSheetId, isCostSheetAttached: ($('.chkAttachCostSheet').prop('checked') == 'true' ? 1 : 0), emailContent: $(".fr-element").html(), data: costsheetData, buyerEmail: $(".hdnBuyerDetail").data("email") }
            }).done(function (response) {
                dfd.resolve(response);
                $(".lblMsg").html("<span>Quotation send successfully !!!</span>").removeClass("hide");
            });
            return dfd.promise();
        };

        var loadCode = setInterval(function () {
            rfqId = $(".hdnRfqId").val();
            costsheetData = $(".hdnCostSheetData").val();
                costSheetId = $(".hdnCostSheetId").val();
                if ($(".txtEditor:visible").length > 0) {
                    var months = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
                    var dt = new Date();
                    $(".date").text(dt.getDate() + " " + months[parseInt(dt.getMonth())] + " " + dt.getFullYear());
                    $('.txtEditor').froalaEditor();
                }               
                
                // save quotation to db
                $(".btnSubmit").on('click', function (e) {
                    var $me = $(this);
                    if ($(".fr-element").html().replace(/(<([^>]+)>)/ig, "") != "") {
                        $.when(saveQuotation()).then(function () {
                            //window.location.reload();                        
                        });
                    }
                    e.stopImmediatePropagation();
                    return false;
                });
                if ($(".hdnRfqId").length > 0 && $(".hdnRfqId").val() != "") {
                    clearInterval(loadCode);
                }
            }, 500);
    });


</script>


<section ng-show="rfq.id == null && validatePermission">
    <h1>403 - Forbidden</h1>
    <p>Access Denied. You don't have access to view this page</p>
</section>

<section ng-show="!validatePermission">
    <h1>Loading please wait..!!</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        </div>
    </div>
</section>

