<section data-ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">

    <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>

    <div class="row">
        <div class="col col-lg-3 " style="border-right:1px solid #000;">
            <h3><strong>Action</strong></h3>
            <div ng-include="'views/rfqs/rfqLeftNavigation.htm'"></div>
        </div>
        <div class="col col-lg-9">
            <h3><strong>Approved Costsheet</strong></h3>
            <div ng-init="findApprovedCostSheetByRfqId()">
                <div ng-show="costsheet.status != 'approved'" class="alert alert-danger">Cost Sheet is not yet approved. Please get an approval from admin</div>
                <div ng-show="costsheet.status == 'approved'">
                    <div style="background-color:linen; padding: 5px">
                        <h6>
                            Created by:
                            <strong> {{costsheet.User.firstName}} {{costsheet.User.lastName}}</strong>
                            <small>({{costsheet.User.email}})</small>
                            <small class="pull-right"><i> - {{costsheet.createdAt | date:'medium'}}</i></small>
                        </h6>

                        <div class="clear clearfix"></div>

                        <div class="row">
                            <div class="col-lg-12">
                                <strong>Cost Sheet Parameter</strong>
                                <hr />
                                <div class="clear clearfix"></div><br />
                                <div class="row" ng-repeat="(key,value) in stringToObject(costsheet.data, true) ">
                                    <div class="col col-lg-5">
                                        {{key}}
                                    </div>
                                    <div class="col col-lg-2">:</div>
                                    <div class="col col-lg-5">
                                        {{value}}<br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <div ng-hide="isPoReceived(rfq)">
                        <h3><strong>Prepare <span class="quotType"></span> Quotation</strong></h3>

                        <div class="alert alert-success lblMsg hide"></div>

                        <div class="clear clearfix"></div> <br />

                        <a href="#" class="btn btn-outline-primary lnkAddHeading  pull-right" title="add heading row">
                            <span><i class="fa fa-plus-circle"></i></span>
                        </a>
                        <div class="clear clearfix"></div> <br />
                        <div class="create-heading">
                            <div class="pnlHeading">
                                <div class="row">
                                    <div class="col col-lg-10">
                                        <input type="text" class="txtHeading form-control" placeholder="Heading" required />
                                    </div>
                                </div>
                                <div class="clear clearfix"></div> <br />
                            </div>

                            <div class="col col-lg-3 center">
                                <a href="#" class="btnSubmitHeading btn btn-primary">Generate Table</a>
                            </div>
                        </div>

                        <div class="pnlQuotTable hide">
                            <a class="lnkBackToHeadingCreation btn btn-secondary" href="#">Back</a>
                            <a class="lnkAddRow btn btn-primary pull-right" href="#">Add Row</a>
                            <div class="clear clearfix"></div> <br />
                        </div>
                        <!--<a href="#" class="btn btn-outline-primary lnkAdd  pull-right" title="add row">
                                        <span><i class="fa fa-plus-circle"></i></span>
                                    </a>
                                    <div class="pnlParameter">
                                        <div class="row">
                            <div class="col col-lg-5">
                                <input type="text" class="txtName form-control" placeholder="Name" required />
                            </div>
                            <div class="col col-lg-5">
                                <input type="text" class="txtValue form-control" placeholder="Value" required />
                            </div>
                            <div class="col col-lg-2">
                                <a href="#" class="btn btn-outline-danger lnkRemove   pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a>
                            </div>
                        </div>
                                        <div class="clear clearfix"></div> <br />
                                    </div>
                                    <div class="row">
                                        <div class="col col-lg-3 center">
                                            <a href="#" class="btnSubmit btn btn-primary">Generate</a>
                                        </div>
                                    </div>-->
                    </div>
                    <input type="hidden" class="hdnCostSheetId" value="{{costsheet.id}}" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--<script src="/js/view/quotation.js"></script>-->
<script>
    $(document).ready(function () {
        var bindRemoveParameter = function () {
            $(".lnkRemove").on('click', function () {
                $(this).parent().parent().next().remove(".clearfix");
                $(this).parent().parent().next().remove("br");
                $(this).parent().parent().remove();

                if ($(".txtName").length == 0) {
                    $('.btnSubmit ').hide();
                } else {
                    $('.btnSubmit ').show();
                }
            });
        };

        var bindRemoveHeadingParameter = function () {
            $(".lnkHeadingRemove").on('click', function () {
                $(this).parent().parent().next().remove(".clearfix");
                $(this).parent().parent().next().remove("br");
                $(this).parent().parent().remove();

                if ($(".txtHeading").length == 0) {
                    $('.btnSubmit ').hide();
                } else {
                    $('.btnSubmit ').show();
                }
            });
        };

        bindRemoveParameter();
        bindRemoveHeadingParameter();
        var rfqId;

        var toTitleCase = function (str) {
            return str.replace(/(?:^|\s)\w/g, function (match) {
                return match.toUpperCase();
            });
        }

        var hdnQuotType, costSheetId;


        var createDynamicHeadingTextFields = function (callback) {

            var inputName = $("<input />", { class: 'txtHeading form-control', type: 'text', placeholder: 'Heading', required: 'required' });

            var divCol10Name = $('<div>', { class: 'col col-lg-10' }).html(inputName);
            var divCol2Space = $('<div>', { class: 'col col-lg-2' }).html('<a href="#" class="btn btn-outline-danger lnkHeadingRemove pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a >');

            var divRow = $('<div>', { class: 'row' }).append(divCol10Name, divCol2Space);
            var divClear = $("<div>", { class: 'clear clearfix' });
            var breakLine = $("<br />");

            $(".pnlHeading").append(divRow, divClear, breakLine);
            bindRemoveHeadingParameter();
            typeof callback === 'function' && callback();
        };


        var createDynamicTextFields = function (callback) {

            var inputName = $("<input />", { class: 'txtName form-control', type: 'text', placeholder: 'Name', required: 'required' });
            var inputValue = $("<input />", { class: 'txtValue form-control', type: 'text', placeholder: 'Value', required: 'required' });

            var divCol5Name = $('<div>', { class: 'col col-lg-5' }).html(inputName);
            var divCol5Value = $('<div>', { class: 'col col-lg-5' }).html(inputValue);
            var divCol2Space = $('<div>', { class: 'col col-lg-2' }).html('<a href="#" class="btn btn-outline-danger lnkRemove pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a >');

            var divRow = $('<div>', { class: 'row' }).append(divCol5Name, divCol5Value, divCol2Space);
            var divClear = $("<div>", { class: 'clear clearfix' });
            var breakLine = $("<br />");

            $(".pnlParameter").append(divRow, divClear, breakLine);
            bindRemoveParameter();
            typeof callback === 'function' && callback();
        };

        var createDynamicTableheading = function (callback) {
            $(".table-quot").remove();
            var trHeading = $("<tr>");
            var trInitialRow = $("<tr>");

            $.each($(".txtHeading"), function (key, value) {
                var th = $("<th>").html($(value).val());
                var td = $("<td>").html($("<input />", { class: 'txt' + $(value).val() + ' form-control', type: 'text', placeholder: $(value).val(), required: 'required' }));
                trHeading.append(th);
                trInitialRow.append(td);
            });

            var table = $("<table>", { class: 'table table-hover table-quot' }).append(trHeading, trInitialRow);
            $(".create-heading, .lnkAddHeading").hide();
            $(".pnlQuotTable").append(table).removeClass("hide");
            $(".lnkBackToHeadingCreation").on('click', function (e) {
                $(".pnlQuotTable").addClass("hide");
                $(".create-heading, .lnkAddHeading").show();
            });
            typeof callback === 'function' && callback();
        };


        var createDynamicTableRow = function (callback) {
            var trInitialRow = $("<tr>");

            $.each($(".txtHeading"), function (key, value) {
                var td = $("<td>").html($("<input />", { class: 'txt' + $(value).val() + ' form-control', type: 'text', placeholder: $(value).val(), required: 'required' }));
                trInitialRow.append(td);
            });

            $(".table-quot").append(trInitialRow);
            //$(".create-heading, .lnkAddHeading").hide();
            //$(".pnlQuotTable").append(table).removeClass("hide");
            //$(".lnkBackToHeadingCreation").on('click', function (e) {
            //    $(".pnlQuotTable").addClass("hide");
            //    $(".create-heading").show();
            //});
            typeof callback === 'function' && callback();
        };


        //ajax call to save qoute
        var saveQuotation = function (data, quotType, costSheetId) {
            var dfd = $.Deferred();
            console.log({ UserId: window.user.id, data: data, RfqId: rfqId, type: quotType, CostSheetId: costSheetId });
            $.ajax({
                url: '/quotations/',
                method: "POST",
                data: { UserId: window.user.id, data: data, RfqId: rfqId, type: quotType, CostSheetId: costSheetId }
            }).done(function (response) {
                dfd.resolve(response);
                $(".lblMsg").html("<span>Saved successfully !!!</span>").removeClass("hide");
            });
            return dfd.promise();
        };

        var loadCode = setInterval(function () {
                rfqId = $(".hdnRfqId").val();

                if ($(".quotType").length) {
                    var arr = window.location.href.split("/")
                    if (arr.length > -1) {
                        hdnQuotType = $(".hdnQuotType").val();
                        costSheetId = $(".hdnCostSheetId").val();
                        $(".quotType").html(toTitleCase(arr[arr.length - 1]));
                    }
                }

                // slider of images
                if ($(".elastislide").length > 0) {
                    $('.elastislide').elastislide();
                }
                // add dynamic fields to DOM
                $(".lnkAdd").on('click', function () {
                    createDynamicTextFields();
                    if ($(".txtName").length == 0) {
                        $('.btnSubmit ').hide();
                    } else {
                        $('.btnSubmit ').show();
                    }
                    return false;
                });

                $(".lnkAddHeading").on('click', function () {
                    createDynamicHeadingTextFields();
                    if ($(".txtHeading").length == 0) {
                        $('.btnSubmit ').hide();
                    } else {
                        $('.btnSubmit ').show();
                    }
                    return false;
                });

                // save quotation to db
                $(".btnSubmit").on('click', function (e) {
                    var $me = $(this);
                    var nameValuePair = {};
                    var totalRecord = $(".txtName").length;
                    var validField = [];

                    for (var index = 0; index < totalRecord; index++) {
                        if ($.trim($($(".txtName")[index]).val()) != "" && $.trim($($(".txtValue")[index]).val())) {
                            nameValuePair[$($(".txtName")[index]).val()] = $($(".txtValue")[index]).val();
                            $($(".txtName")[index]).css("border", "");
                            $($(".txtValue")[index]).css("border", "");
                            validField[index] = true;
                        }
                        else {
                            validField[index] = false;
                            if ($.trim($($(".txtName")[index]).val()) == "") {
                                $($(".txtName")[index]).css("border", "1px solid red");
                            } else {
                                $($(".txtName")[index]).css("border", "");
                            }
                            if ($.trim($($(".txtValue")[index]).val()) == "") {
                                $($(".txtValue")[index]).css("border", "1px solid red");
                            } else {
                                $($(".txtValue")[index]).css("border", "");
                            }
                        }
                    }
                    if ($.inArray(false, validField) < 0) {
                        // save quotation
                        $.when(saveQuotation(JSON.stringify(nameValuePair), hdnQuotType, costSheetId)).then(function () {
                            //window.location.reload();
                            $(".pnlParameter, .lnkAdd, .btnSubmit").remove();
                        });

                    } else {
                        nameValuePair = {};
                    }
                    e.stopImmediatePropagation();
                    return false;
                });



                $(".btnSubmitHeading").on('click', function (e) {
                    var $me = $(this);
                    var headingField = [];
                    var totalRecord = $(".txtHeading").length;
                    var validField = [];

                    for (var index = 0; index < totalRecord; index++) {
                        if ($.trim($($(".txtHeading")[index]).val()) != "") {
                            headingField.push($($(".txtHeading")[index]).val());
                            $($(".txtHeading")[index]).css("border", "");
                            validField[index] = true;
                        }
                        else {
                            validField[index] = false;
                            if ($.trim($($(".txtHeading")[index]).val()) == "") {
                                $($(".txtHeading")[index]).css("border", "1px solid red");
                            } else {
                                $($(".txtHeading")[index]).css("border", "");
                            }
                        }
                    }
                    if ($.inArray(false, validField) < 0) {
                        createDynamicTableheading();
                    } else {
                        headingField = [];
                    }
                    e.stopImmediatePropagation();
                    return false;
                });

                $(".btnCancel").on('click', function () {
                    $(".pnlParameter").html("");
                    $(".create-costsheet").addClass('hide');
                });

                $(".lnkAddRow").on('click', function () {
                    createDynamicTableRow();
                });

                if ($(".hdnRfqId").length > 0 && $(".hdnRfqId").val() != "") {
                    clearInterval(loadCode);
                }
            }, 500);
    });


</script>


<section ng-show="rfq.id == null && validatePermission">
    <h1>403 - Forbidden</h1>
    <p>Access Denied. You don't have access to view this page</p>
</section>

<section ng-show="!validatePermission">
    <h1>Loading please wait..!!</h1>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        </div>
    </div>
</section>

