<section data-ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">

    <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>
   
    <div class="row">

        <div ng-show="costsheet.status != 'approved'" class="alert alert-danger col col-lg-12">Cost Sheet is not yet approved. Please get an approval from admin</div>
        <div ng-init="findApprovedCostSheetByRfqId()" class="col col-lg-12">
            <div ng-show="costsheet.status == 'approved'" class="row">
                <div class="col col-lg-3">


                    <h3><strong>Approved Costsheet</strong></h3>
                    <div style="background-color:#e7e7e7; padding: 5px; box-shadow: 1px 1px 5px rgba(128,128,128,0.8)" class="costsheetHtml">
                        <h6>
                            <strong> {{costsheet.User.firstName}} {{costsheet.User.lastName}}</strong>
                            <small>({{costsheet.User.email}})</small>
                            <small class="pull-right"><i> - {{costsheet.createdAt | date:'medium'}}</i></small>
                        </h6>

                        <div class="clear clearfix"></div>

                        <div class="row">
                            <div class="col col-lg-12">
                                <div class="clear clearfix"></div><br />
                                <div class="cost-sheet-form">
                                    <div ng-repeat="item in costsheet.data">
                                        <div class="row" ng-repeat="(key,value) in item" ng-class="(key=='Total') == true && 'm-t-20 font-weight-bold'">
                                            <div class="col col-lg-6">
                                                <label>{{key}}</label>
                                            </div>
                                            <div class="col col-lg-6">
                                                {{value}}
                                            </div>
                                        </div> <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <input type="hidden" class="hdnCostSheetId" value="{{costsheet.id}}" />
                    <input type="hidden" class="hdnCostSheetData" value="{{costsheet.data}}" />

                </div>
                <div class="col col-lg-9">
                    <!-- If quotation is not submitted yet -->
                    <div ng-show="rfq.Quotations.length == 0">
                        <div class="txtEditor" ng-include="'views/quotations/quotation-template.html'">
                        </div>

                        <div class="clear clearfix fc-clear"></div><br />
                        <input type="checkbox" class="chkAttachCostSheet" id="chkAttachCostSheet" /> <label for="chkAttachCostSheet">Attach costsheet ?</label>

                        <br />
                        <a class="btn btn-primary btnSubmit" href="#">Send Mail</a>&nbsp; <i class="loader fa fa-spin fa-spinner f-s-21 hide"></i>
                        <div class="quotMsg alert alert-success m-t-10 hide">Quotation send successfully.. Please wait !!</div>
                    </div>

                    <!-- If quotation is submitted -->
                    <div ng-show="rfq.Quotations.length > 0">
                        <h5 class="alert alert-success">Quotation for this RFQ has already been send to {{rfq.Buyer.name}}. Please see below details</h5>

                        <label>Costsheet Attached:</label> <span><strong>{{rfq.Quotations[0].isCostSheetAttached == true ? "Yes" : "No"}}</strong></span>
                        <div class="clear clearfix"></div>
                        <label>Mail send on:</label> <span><strong>{{rfq.Quotations[0].createdAt | date:'medium'}}</strong></span>

                        <div ng-bind-html="trustAsHtml(rfq.Quotations[0].emailContent)" class="m-10 p-5" style="border:1px solid #ccc"></div>

                        <div class="clear clearfix fc-clear"></div><hr />
                        <div class="row m-t-10">
                            <div class="col-3">
                                <label>Customer Feedback:</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control ddlFeedBack" style="width:20%" data-quotationid="{{rfq.Quotations[0].id}}">
                                    <option value="1" ng-selected="rfq.Quotations[0].CustomerFeedBack == 1">Await</option>
                                    <option value="2" ng-selected="rfq.Quotations[0].CustomerFeedBack == 2">Proceed</option>
                                    <option value="3" ng-selected="rfq.Quotations[0].CustomerFeedBack == 3">Cancel</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="displayCostsheet hide"></div>
    
    <input class="hdnRfqId" id="hdnRfqId" type="hidden" value="{{rfq.id}}" />
    <input class="hdnBuyerDetail" id="hdnBuyerDetail" type="hidden" value="{{rfq.Buyer.name}}" data-email="{{rfq.Buyer.email}}" />

</section>
<!--<script src="/js/view/quotation.js"></script>-->
<script>
    $(document).ready(function () {
        var rfqId, costSheetId, costsheetData,

            loadCode = setInterval(function () {
                rfqId = $(".hdnRfqId").val();
                if (rfqId.length > 0 && rfqId != "") {

                    var createUniqueKeyCostsheet = function (costsheet) {
                        var count = 0, arr = [];
                        $.each(costsheet, function (key, item) {
                            $.each(item, function (name, value) {
                                if (!arr.some(e => e.hasOwnProperty(name))) {
                                    var itemArray = {};
                                    itemArray[name] = new Array();
                                    itemArray[name].push(value);
                                    arr.push(itemArray);
                                } else {
                                    if (name != 'Net Weight') {
                                        arr.filter(e => e.hasOwnProperty(name))[0][name].push(value);
                                    } else if (name == 'Net Weight' && count % 2 == 0) {
                                        count++;
                                        arr.filter(e => e.hasOwnProperty(name))[0][name].push(value);
                                    }
                                }
                            });
                        });
                        return arr;
                    },

                        createTableFormat = function (costsheet) {
                            var strHtml;
                            strHtml = '<h1 align="center" style="margin: 10px 0;"><img src="http://www.metaforgeindia.com/images/logo.png" style="width: 300px;" alt="METAFORGE" /></h1><hr /><br />';
                            arr = createUniqueKeyCostsheet(costsheet);
                            strHtml += '<div  align="center" ><table style="width:50%" border="1">';
                            $.each(arr, function (k, v) {
                                $.each(v, function (parameterName, parameterValueArray) {
                                    //console.log(parameterName, parameterValueArray);
                                    if (parameterName == "Operation" || parameterName == "HT/ST" || parameterName == "Total RM Cost" || parameterName == "Total") {
                                        strHtml += '</table>';
                                        strHtml += '<br /><table style="width:50%" border="1">';
                                    }
                                    strHtml += '<tr>';
                                    if (parameterName == "Total") {
                                        parameterName = '<strong>' + parameterName + '</strong>';
                                    }
                                    strHtml += '<th width="30%" style="padding:5px;">' + parameterName + '</th>';
                                    strHtml += '<td width="70%"><table  style="width:100%" border="1"><tr>';
                                    $.each(parameterValueArray, function (key, actualValue) {

                                        if (parameterName.indexOf("Total") !== -1 || parameterName.indexOf("Percentage") !== -1 || parameterName.indexOf("Profit") !== -1) {
                                            if (parameterName.indexOf("Profit") !== -1) {
                                                actualValue += " %";
                                            }
                                            actualValue = '<strong>' + actualValue + '</strong>';
                                        }

                                        strHtml += '<td  style="padding:5px;" width="' + 100 / parameterValueArray.length + '%">' + actualValue + '</td>';
                                    });
                                    strHtml += '</tr></table></td>';
                                    strHtml += '</tr>';
                                });

                            });
                            strHtml += '</table></div><br /><br /><br />';
                            return strHtml;
                        },



                        //ajax call to save qoute
                        saveQuotation = function () {
                            var dfd = $.Deferred();
                            $.ajax({
                                url: '/quotations/',
                                method: "POST",
                                data: { UserId: window.user.id, RfqId: rfqId, CostSheetId: costSheetId, isCostSheetAttached: ($('.chkAttachCostSheet').prop('checked') ? 1 : 0), emailContent: $(".fr-element").html(), data: costsheetData, buyerEmail: $(".hdnBuyerDetail").data("email") }
                            }).done(function (response) {
                                dfd.resolve(response);
                            });
                            return dfd.promise();
                        };

                    if ($(".txtEditor:visible").length > 0) {
                        var months = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];
                        var dt = new Date();
                        $(".date").text(dt.getDate() + " " + months[parseInt(dt.getMonth())] + " " + dt.getFullYear());
                        $('.txtEditor').froalaEditor();
                    }

                    if ($(".hdnCostSheetData").val() != '') {
                        costsheetData = createTableFormat(JSON.parse($(".hdnCostSheetData").val()));
                        $(".displayCostsheet").html(costsheetData);
                    }
                    costSheetId = $(".hdnCostSheetId").val();

                    // save quotation to db
                    $(".btnSubmit").on('click', function (e) {
                        var $me = $(this);
                        $me.addClass("hide");
                        $(".loader").removeClass("hide");
                        if ($(".fr-element").html().replace(/(<([^>]+)>)/ig, "") != "") {
                            $.when(saveQuotation()).then(function () {
                                window.location.reload();
                                $(".loader").addClass("hide");
                                $(".quotMsg").removeClass("hide");
                                window.location.reload();
                            });
                        }
                        e.stopImmediatePropagation();
                        return false;
                    });

                    // ajax to update the quotation
                    updateQuotationCustomerFeedback = function (quotationid, customerFeedBack) {
                        var dfd = $.Deferred();
                        $.ajax({
                            url: '/quotations/updateCustomerFeedback',
                            method: "PUT",
                            data: { id: quotationid, customerFeedBack: customerFeedBack}
                        }).done(function (response) {
                            dfd.resolve(response);
                        });
                        return dfd.promise();
                    };

                    $(".ddlFeedBack").on('change', function () {
                        var quotationid = $(this).data("quotationid");
                        $.when(updateQuotationCustomerFeedback(quotationid, $(this).val())).then(function (data) {

                        });
                    })
                    clearInterval(loadCode);
                }
            }, 500);
    });


</script>


<section ng-show="rfq.id == null && validatePermission">
    <h1>403 - Forbidden</h1>
    <p>Access Denied. You don't have access to view this page</p>
</section>

<section ng-show="!validatePermission">
    <h3>Loading please wait..!!</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
        </div>
    </div>
</section>

