<div class="ng-scope">
    <br />
    <p class="ng-scope" style="text-align:center;"><img src="http://www.metaforgeindia.com/images/logo.png" style="width: 300px;" class="fr-fic fr-dib"></p>

    <table border="1" class="ng-scope fr-dashed-borders" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 52.1411%; vertical-align: top;">
                    <strong>GSTIN:</strong>
                    <br><strong>PAN:</strong><strong><br>TAN:</strong>
                    <br><strong>IFSC code:</strong>
                    <br><strong>Bankers:</strong>
                </td>
                <td style="width: 47.733%; vertical-align: top;">

                    <p style="text-align: right;">
                        <strong>METAFORGE ENGINEERING INDIA PVT. LTD.</strong>
                        <br>Address : &nbsp; S.No. 22/3,
                        <br>Nasik - Dindori Road,
                        <br>Mhasrul, Nasik - 422004,
                        <br>Maharashtra INDIA
                        <br><strong>Tel</strong>: +91 - 253 - 2530 505 / 2530506
                        <br><strong>Email: <a href="mailto:mktg@metaforgeindia.com">mktg@metaforgeindia.com</a></strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td style="width: 52.1411%; vertical-align: top;">
                    <br>To, <b>{{rfq.Buyer.name}}</b>
                    <br>
                    <br>
                </td>
                <td style="width: 47.733%; text-align: left; vertical-align: top;">
                    <br><strong>Enquiry No.s</strong>:
                    <br><strong>Date</strong>: <span class="date"></span>
                    <br><strong>HSN Code</strong>:
                    <br><strong>Contact Person:</strong> {{(rfq.User.firstName + " " + rfq.User.lastName).trim() || "-"}}
                    <br><br />
                </td>
            </tr>
        </tbody>
    </table>

    <p class="ng-scope">
        <br>
    </p>

    <p class="ng-scope">Dear Sir/Madam,</p>

    <p class="ng-scope" style="margin-left: 20px;">We are thankful for your inquiry. We are pleased to quote our most competitive rates as under. Please carefully go through the technical specification and commercial terms given below. Awaiting your valued order.</p>

    <p class="ng-scope" style="margin-left: 20px;">
        <br>
    </p>

    <table border="1" class="ng-scope" style="width: 100%; margin-left: calc(0%);">
        <tbody>
            <tr>
                <td style="width: 16.6667%; text-align: center;"><strong>Sr.No</strong></td>
                <td style="width: 16.6667%; text-align: center;"><strong>Part No &amp; Name</strong></td>
                <td style="width: 16.6667%; text-align: center;"><strong>Monthly Volume</strong></td>
                <td style="width: 16.6667%; text-align: center;"><strong>Currency</strong></td>
                <td style="width: 16.6667%; text-align: center;"><strong>Price</strong></td>
                <td style="width: 16.6667%; text-align: center;"><strong>Price / pcs</strong></td>
            </tr>
            <tr>
                <td style="width: 16.6667%; text-align: center;">1</td>
                <td style="width: 16.6667%; text-align: center;">PF 1009 Brake Rod</td>
                <td style="width: 16.6667%; text-align: center;">5000</td>
                <td style="width: 16.6667%; text-align: center;">INR</td>
                <td style="width: 16.6667%; text-align: center;">30.00</td>
                <td style="width: 16.6667%; text-align: center;">05.00</td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="ng-scope">
        <br>
    </p>
    <hr class="ng-scope">

    <p class="ng-scope"><u>Note</u>:</p>

    <p class="ng-scope">
        <br>
    </p>
    <hr class="ng-scope">

    <p class="ng-scope"><u>Terms:</u></p>

    <table border="1" class="ng-scope" style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 50.0000%;">Payment:</td>
                <td style="width: 50.0000%;">Taxes:</td>
            </tr>
            <tr>
                <td>Delivery terms:</td>
                <td>Freight:</td>
            </tr>
            <tr>
                <td>Packing:</td>
                <td>Validity:</td>
            </tr>
        </tbody>
    </table>
    <hr class="ng-scope">

    <p class="ng-scope">Subject to Nashik Jurisdiction&nbsp;</p>

    <p class="ng-scope">Prepared by:&nbsp; <br /><b>{{(rfq.User.firstName + " " + rfq.User.lastName).trim() || "-"}}</b></p>

    <p class="ng-scope" style="text-align: right;"><span style="font-size: 9px;">This document is digitally prepared</span></p>

    <p class="ng-scope" style="text-align: right;">
        <br>
    </p>
</div>
