<div class="head-row   animated slideInDown">
    <div ng-controller="HtstsController" ng-init="find()" class="row">
        <span class="row-remove"><i class="fa fa-minus-circle"></i></span>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">HT/ST</label>
            <select class="form-control ddlHtSt txtPredefinedValue" id="ddlHtSt" name="dropdown">
                <option value="" selected>Select</option>
                <option ng-repeat="htst in htsts " value="{{htst.details}}" data-id="{{htst.id}}" data-parameter="{{htst.parameter}}" data-rate="{{htst.rate}}">{{htst.details}}</option>
            </select>
        </div>
        <div class="col">
            <label class="txtPredefinedName text-muted m-b-2 f-s-12">Cost</label>
            <input type="text" placeholder="HT/ST Cost" class="form-control txtHtStCost txtPredefinedValue" id="txtHtStCost" />
        </div>
    </div>
</div>