<div class="card" ng-controller="RfqsController">
    <h1>Approve Cost Sheet</h1>
    <section data-ng-init="findOneByRfqId()">

        <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>

        <div class="row">
            <div class="col col-lg-3 " style="border-right:1px solid #000;">
                <h3><strong>Action</strong></h3>
                <div ng-include="'views/rfqs/rfqLeftNavigation.htm'"></div>
            </div>
            <div class="col col-lg-9">
                <h3><strong>Prepared Cost Sheet</strong></h3>
                <div ng-show="!costsheets.length">
                    <div>This RFQ don't have any cost sheet prepared <br /><br /><a href="/rfq/{{rfq.id}}/costsheet/prepare">Please click here</a> to prepare one</div>
                </div>
                <div ng-init="findByRfqId()" ng-show="costsheets.length">
                    <div ng-repeat="costsheet in costsheets | orderBy: '-createdAt'">
                        <div style="background-color:linen; padding: 5px">
                            <h6>
                                Created by:
                                <strong> {{costsheet.User.firstName}} {{costsheet.User.lastName}}</strong>
                                <small>({{costsheet.User.email}})</small><br /><br />
                                <small><i> - {{costsheet.createdAt | date:'medium'}}</i></small>

                                <span class="pull-right">
                                    <strong>{{costsheet.status | capitalize}}</strong>
                                </span>
                            </h6>

                            <div class="clear clearfix"></div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <hr />
                                    <strong>Cost Sheet Parameter</strong>
                                    <hr />
                                    <div class="clear clearfix"></div><br />
                                    <div class="row" ng-repeat="(key,value) in stringToObject(costsheet.data, true) ">
                                        <div class="col col-lg-5">
                                            {{key}}
                                        </div>
                                        <div class="col col-lg-2">:</div>
                                        <div class="col col-lg-5">
                                            {{value}}<br /><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="border-left:1px solid rgba(0,0,0,.1)">
                                    <hr /><p style="text-align:center;"><strong>Action</strong></p><hr />
                                    <div class="clear clearfix"></div><br />
                                    <div style="text-align:center;">

                                        <a class="btn btn-primary btn-update" data-parameter="{{stringToObject(costsheet.data, true)}}" href="#" title="Copy and modify">
                                            <span><i class="fa fa-wrench"></i></span>
                                        </a>

                                        <a class="btn btn-success lnkUpdateStatus" data-id="{{costsheet.id}}" data-status="approved" href="#" title="Click to approve" ng-hide="costsheet.status == 'approved'">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </a>

                                        <a class=" btn btn-danger lnkUpdateStatus" data-id="{{costsheet.id}}" data-status="rejected" href="#" title="Click to reject" ng-hide="costsheet.status == 'rejected'">
                                            <span><i class="fa fa-ban"></i></span>
                                        </a>

                                        <a class=" btn btn-warning lnkUpdateStatus" data-id="{{costsheet.id}}" data-status="pending" href="#" title="Click to pending" ng-hide="costsheet.status == 'pending'">
                                            <span><i class="fa fa-clock-o"></i></span>
                                        </a>

                                        <br /><br />
                                        <a class=" btn btn-primary btn-mail" data-id="{{costsheet.id}}" href="#" title="Click to send mail to customer" ng-show="costsheet.status == 'approved'">
                                            <span><i class="fa fa-envelope"></i> Mail cost sheet to {{rfq.Buyer.name}}</span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear clearfix"></div><br />
                    </div>
                </div>

                <div class="create-costsheet hide">
                    <div class="alert alert-success lblMsg hide"></div>
                    <div class="clear clearfix"></div> <br />

                    <a href="#" class="btn btn-outline-primary lnkAdd  pull-right" title="add row">
                        <span><i class="fa fa-plus-circle"></i></span>
                    </a>
                    <div class="clear clearfix"></div> <br />

                    <div class="pnlParameter"></div>
                    <div class="row">
                        <div class="col col-lg-3 center">
                            <a href="#" class="btnSubmit btn btn-primary">Approved</a>
                            <a href="#" class="btnCancel btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/js/view/costsheet.js"></script>