<div class="page-titles">
		<h3 class="text-primary">Prepare Cost Sheet</h3>
	</div>
<div class="container-fluid">
	<div class="card" ng-controller="RfqsController">
    
    <section data-ng-init="findOneByRfqId()" ng-show="rfq.id != null  && validatePermission">
        <div ng-include="'views/rfqs/rfqBasicDetail.html'"></div>

        <div class="row">
            <div ng-include="'views/rfqs/rfqLeftNavigation.htm'" class="col col-lg-12"></div>
            <div class="col col-lg-12 cost-sheet-form">
                <h3><strong>Prepare Standard Format Cost Sheet</strong></h3>
                <div class="alert alert-success lblMsg hide"></div>

                <div class="clear clearfix"></div>
                <div  class="row">
                    <div class="col-sm-12 m-b-5">
                        <div class="separatePanel Rawmaterial">
                            <h4 class="border-bottom p-b-10">Heading
                                <a class="pull-right lnkAddRawMaterial lnkAddPanel" data-url="views/costsheets/templates/addRawMaterialFields.html" data-class="Rawmaterial"><span><i class="fa fa-plus-circle"></i></span></a>  
                            </h4>
                            <div ng-controller="RawMaterialsController" ng-init="find()" class="head-row" >
                                <div class="row">
                                    <div class="col">
                                        <label class="txtPredefinedName  text-muted m-b-2 f-s-12">Product Name</label>
                                        <input type="text" placeholder="Product Name" class="form-control txtProductName txtPredefinedValue" id="txtProductName" />
                                    </div>
									<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">Raw Material</label>
										<select class="form-control ddlRawMaterial txtPredefinedValue" id="ddlRawMaterial" name="dropdown">
											<option value="" selected>Select</option>
											<option ng-repeat="material in rawmaterials" value="{{material.material}}" data-rate="{{material.rate}}" data-scrap-rate="{{material.scrapRate}}" data-scrap-recovery="{{material.scrapRecovery}}">{{material.material}}</option>
										</select>
									</div>
									<div class="col">
										<label class="txtPredefinedName  text-muted m-b-2 f-s-12">Gross Weight</label>
										<input type="text" placeholder="Gross Weight" class="form-control txtGrWt txtPredefinedValue txtCalculateCost" id="txtGrWt" />
									</div>
									<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">Net Weight</label>
										<input type="text" placeholder="Net Weight" class="form-control txtNetWt txtPredefinedValue txtCalculateCost" id="txtNetWt" />
									</div>
                                	<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">Rate</label>
										<input type="text" placeholder="Rate" class="form-control txtRate txtPredefinedValue txtAutogenerated txtAutogenerateEditable" id="txtRate" />
									</div>
									<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">Scrap Rate</label>
										<input type="text" placeholder="Scrap Rate" class="form-control txtScrapRate txtPredefinedValue txtAutogenerated txtAutogenerateEditable" id="txtScrapRate" />
									</div>
									<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">Scrap Recovery</label>
										<input type="text" placeholder="Scrap Recovery" class="form-control txtScrapRecovery txtPredefinedValue txtAutogenerated txtAutogenerateEditable" id="txtScrapRecovery" /> <!--<br />-->
									</div>
                                	<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">RM Cost</label>
										<input type="text" placeholder="RM Cost" class="form-control txtRmCost txtPredefinedValue txtAutogenerateEditable" id="txtRmCost" />
									</div>
									<div class="col">
										<label class="txtPredefinedName text-muted m-b-2 f-s-12">Net RM Cost</label>
										<input type="text" placeholder="Net RM Cost" class="form-control txtNetRmCost txtPredefinedValue txtAutogenerateEditable" id="txtNetRmCost" />
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 m-b-5">
                        <div class="Conversion separatePanel">
                            <h4 class="border-bottom p-b-10">Conversion
                                <a class="pull-right lnkAddConversion lnkAddPanel" data-url="views/costsheets/templates/addConversionFields.html"  data-class="Conversion"><span><i class="fa fa-plus-circle"></i></span></a>                          
                            </h4>
                            <div class="head-row">
                                <div class="row" ng-controller="ConversionsController" ng-init="find()">
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Operation</label>
                                        <select class="form-control ddlOperation txtPredefinedValue" id="ddlOperation" name="dropdown" ng-change="onConversionChange()" ng-model="selectedOperation">
                                            <option value="" selected>Select Operation</option>
                                            <option ng-repeat="conversion in conversions | unique : 'operation'" value="{{conversion.operation}}">{{conversion.operation}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Machine</label>
                                        <select class="form-control ddlMachine txtPredefinedValue" id="ddlMachine" name="dropdown">
                                            <option value="" selected>Select Machine</option>
                                            <option ng-repeat="machine in machines" value="{{machine.machine}}" data-id="{{machine.id}}" data-rate="{{machine.rate}}" data-efficiency="{{machine.efficiency}}">{{machine.machine}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Cycle Time</label>
                                        <input type="text" placeholder="Cycle Time" class="form-control txtCycleTime txtPredefinedValue" id="txtCycleTime" />
                                    </div>
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Conversion Rate/hrs</label>
                                        <input type="text" placeholder="Conversion Rate/hrs" class="form-control txtConversionRate txtAutogenerated txtAutogenerateEditable txtPredefinedValue" id="txtConversionRate" />
                                    </div>
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Efficiency</label>
                                        <input type="text" placeholder="Efficiency" class="form-control txtConversionEfficiency txtAutogenerated txtAutogenerateEditable txtPredefinedValue" id="txtConversionEfficiency" />
                                    </div>
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Conversion Cost</label>
                                        <input type="text" placeholder="Conversion Cost" class="form-control txtConversionCost txtPredefinedValue txtAutogenerateEditable" id="txtConversionCost" />
                                    </div>
                                </div>
                            </div>
                        </div>             
                        </div>
					<div class="col-sm-12 m-b-5">
						<div class="HtSt separatePanel">  
                            <h4 class="border-bottom p-b-10">HT/ST
                                <a class="pull-right lnkAddHtSt lnkAddPanel" data-url="views/costsheets/templates/addHtStFields.html" data-class="HtSt"><span><i class="fa fa-plus-circle"></i></span></a>
                            </h4>  
                            <div class="head-row">
                                <div ng-controller="HtstsController" ng-init="find()" class="row">
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">HT/ST</label>
                                        <select class="form-control ddlHtSt txtPredefinedValue" id="ddlHtSt" name="dropdown">
                                            <option value="" selected>Select</option>
                                            <option ng-repeat="htst in htsts " value="{{htst.details}}" data-id="{{htst.id}}" data-parameter="{{htst.parameter}}" data-rate="{{htst.rate}}">{{htst.details}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">HT/ST Rate</label>
                                        <input type="text" placeholder="HT/ST Rate" class="form-control txtHtStRate txtPredefinedValue txtAutogenerateEditable" id="txtHtStRate" />
                                    </div>
                                    <div class="col">
                                        <label class="text-muted m-b-2 f-s-12">Net Weight</label>
                                        <input type="text" placeholder="Net Weight" class="form-control txtNetWt txtCalculateCost " id="txtNetWt" />
                                    </div>
                                    
                                    <div class="col">
                                        <label class="txtPredefinedName text-muted m-b-2 f-s-12">Cost</label>
                                        <input type="text" placeholder="HT/ST Cost" class="form-control txtHtStCost txtPredefinedValue txtAutogenerateEditable" id="txtHtStCost" />
                                    </div>
                                </div>
                            </div>                              
                        </div> 
					</div>
                    <div class="col-sm-12 m-b-5">
                        <div class="Total separatePanel">
                            <h4 class="border-bottom p-b-10">Total &amp; Profit</h4>
                            <div class="row head-row">
                                <div class="col">
                                    <label  class="txtPredefinedName text-muted m-b-2 f-s-12">Total RM Cost</label>
                                    <input type="text" placeholder="Total RM Cost" class="form-control txtTotalRmCost txtCostField txtPredefinedValue txtAutogenerateEditable" id="txtTotalRmCost" />
                                </div>
                                <div class="col">
                                    <label  class="txtPredefinedName text-muted m-b-2 f-s-12">Total Conversion Cost</label>
                                    <input type="text" placeholder="Total Conversion Cost" class="form-control txtTotalConversionCost txtCostField txtPredefinedValue txtAutogenerateEditable" id="txtTotalConversionCost" />
                                </div>
                                <div class="col">
                                    <label  class="txtPredefinedName text-muted m-b-2 f-s-12">Total HT/ST Cost</label>
                                    <input type="text" placeholder="Total HT/ST Cost" class="form-control txtTotalHtStCost txtCostField txtPredefinedValue txtAutogenerateEditable" id="txtTotalHtStCost" />
                                </div>
                                <div class="col">
									<p class="row text-muted m-b-2 f-s-12 txtPredefinedName">Profit on RM Cost</p>
                                    <div class="row">
                                        <input type="text" placeholder="Profit %" class="form-control txtInputRmCostProfit col col-sm-5" id="txtInputRmCostProfit">
                                        <div style="text-align:center;margin: auto 0;" class="col col-sm-2">=</div>
                                        <input type="text" placeholder="Profit" class="form-control txtRmCostProfit  col col-sm-5 txtCostField txtPredefinedValue txtAutogenerateEditable" id="txtRmCostProfit">
                                    </div>
                                </div>
                                <div class="col">                                    
									<p class="row text-muted m-b-2 f-s-12 txtPredefinedName">Profit on Conversion Cost</p>
                                    <div class="row">
                                        <input type="text" placeholder="Profit %" class="form-control txtInputConversionCostProfit col col-sm-5" id="txtInputConversionCostProfit">
                                        <div style="text-align:center;margin: auto 0;" class="col col-sm-2">=</div>
                                        <input type="text" placeholder="Profit" class="form-control txtConversionCostProfit  col col-sm-5 txtCostField txtPredefinedValue txtAutogenerateEditable" id="txtConversionCostProfit">
                                    </div>
								</div>

                                <hr />
                                <div class="col">
                                    <label  class="txtPredefinedName text-muted m-b-2 f-s-12">Total</label>
                                    <input type="text" placeholder="Total" class="form-control txtTotal txtPredefinedValue txtAutogenerateEditable" id="txtTotal" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                <hr />               

                <div class="clear clearfix"></div>
                <h4 class="border-bottom p-b-10">Additional Parameter
                    <a href="#" class="btn btn-primary lnkAdd  pull-right" title="add row">
                        <span><i class="fa fa-plus-circle"></i></span>
                    </a>
                </h4>
               
                <div class="clear clearfix"></div> <br />
                    <div class="pnlParameter row" >
                        <!--<div class="col col-4">
                            <div class="row">
                                <div class="col col-lg-5">
                                    <input type="text" class="txtName form-control" placeholder="Name" required />
                                </div>
                                <div class="col col-lg-5">
                                    <input type="text" class="txtValue form-control" placeholder="Value" required />
                                </div>
                                <div class="col col-lg-2">
                                    <a href="#" class="btn btn-outline-danger lnkRemove   pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="clear clearfix"></div> <br />-->
                    </div>
                    <div class="row">
                        <div class="col col-lg-3 center">
                            <a href="#" class="btnSubmit btn btn-primary">Send for Approval</a>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <section ng-show="rfq.id == null && validatePermission">
        <h1>403 - Forbidden</h1>
        <p>Access Denied. You don't have access to view this page</p>
    </section>

    <section ng-show="!validatePermission">
        <h1>Loading please wait..!!</h1>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
        </div>
    </section>
</div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var bindRemoveParameter = function () {
            $(".lnkRemove").on('click', function () {
                $(this).parent().parent().parent().next().remove(".clearfix");
                $(this).parent().parent().parent().next().remove("br");
                $(this).parent().parent().parent().remove();
            });
        };
        bindRemoveParameter();
        var rfqId;

        var toTitleCase = function (str) {
            return str.replace(/(?:^|\s)\w/g, function (match) {
                return match.toUpperCase();
            });
        };

        var calculateRmCost = function ($ele) {
            var rate = $ele.parent().parent().find(".txtRate").val().replace(/[^\d.]/g, ''),
                scrapRate = $ele.parent().parent().find(".txtScrapRate").val().replace(/[^\d.]/g, ''),
                scrapRecovery = $ele.parent().parent().find(".txtScrapRecovery").val().replace(/[^\d.]/g, ''),
                grWt = $ele.parent().parent().find(".txtGrWt").val().replace(/[^\d.]/g, ''),
                netWt = $ele.parent().parent().find(".txtNetWt").val().replace(/[^\d.]/g, '');
            
            if ($ele.parent().parent().find(".ddlRawMaterial").val() != "" && grWt != "" && netWt != "" && rate != "" && scrapRate != "" && scrapRecovery != "" &&
                !(isNaN(grWt) && isNaN(netWt) && isNaN(rate) && isNaN(scrapRate) && isNaN(scrapRecovery))) {

                var rmCost = Math.ceil(((grWt * rate) / 1000) * 100) / 100;
                var netRmCost = rmCost - ((((grWt - netWt) * scrapRate) / 1000) * (scrapRecovery / 100));

                $ele.parent().parent().find(".txtRmCost").val("Rs " + rmCost.toFixed(2));
                $ele.parent().parent().find(".txtNetRmCost").val("Rs " + (Math.ceil(netRmCost * 100) / 100).toFixed(2));
            } else {
                $ele.parent().parent().find(".txtRmCost").val('');
                $ele.parent().parent().find(".txtNetRmCost").val('');
            }

            var totalRmCost = 0;
            $(".txtNetRmCost").each(function (key, value) {
                if($(value).val() != "") {
                    totalRmCost += parseFloat($(value).val().replace(/[^\d.]/g, ''));
                }
            });
            $(".txtTotalRmCost").val("Rs " + totalRmCost.toFixed(2));
            calculateProfitRmCost();
            calculateProfitConversionCost();
            calculateTotalProfit();
        },

        calculateConversionCost = function ($ele) {
            var rate = $ele.parent().parent().find(".txtConversionRate").val().replace(/[^\d.]/g, ''),
              efficiency = $ele.parent().parent().find(".txtConversionEfficiency").val().replace(/[^\d.]/g, ''),
              cycleTime = $ele.parent().parent().find(".txtCycleTime").val().replace(/[^\d.]/g, '');

            if ($ele.parent().parent().find(".ddlMachine").val() != "" && efficiency != "" && cycleTime != "" && rate &&
               !(isNaN(efficiency) && isNaN(cycleTime) && isNaN(rate) )) {
               
                var conversionCost = Math.ceil((((cycleTime * rate) / 3600) * (efficiency / 100)) * 10) / 10;

                $ele.parent().parent().find(".txtConversionCost").val("Rs " + conversionCost.toFixed(2));
            } else {
                $ele.parent().parent().find(".txtConversionCost").val('');
            }
            var totalConversionCost = 0;
            $(".txtConversionCost").each(function (key, value) {
                if ($(value).val() != "") {
                    totalConversionCost += parseFloat($(value).val().replace(/[^\d.]/g, ''));
                }
            });
            $(".txtTotalConversionCost").val("Rs " + totalConversionCost.toFixed(2));

            calculateProfitRmCost();
            calculateProfitConversionCost();
            calculateTotalProfit();
        },

        calculateHtStCost = function ($ele) {
            var rate = $ele.parent().parent().find(".txtHtStRate").val().replace(/[^\d.]/g, ''),
               netWt = $ele.parent().parent().find(".txtNetWt").val().replace(/[^\d.]/g, '');
            
            if ($ele.parent().parent().find(".ddlHtSt").val() != "" && netWt != "" &&
               !(isNaN(netWt) && isNaN(rate))) {
                var htStCost = Math.ceil((((netWt * rate) / 1000)) * 100) / 100;
                $ele.parent().parent().find(".txtHtStCost").val("Rs " + htStCost.toFixed(2));
            } else {
                $ele.parent().parent().find(".txtHtStCost").val('');
            }
            var totalHtStCost = 0;
            $(".txtHtStCost").each(function (key, value) {
                if ($(value).val() != "") {
                    totalHtStCost += parseFloat($(value).val().replace(/[^\d.]/g, ''));
                }
            });
            $(".txtTotalHtStCost").val("Rs " + totalHtStCost.toFixed(2));

            calculateProfitRmCost();
            calculateProfitConversionCost();
            calculateTotalProfit();
        },

        calculateProfitRmCost = function () {
            var totalCost = $(".txtNetRmCost").val().replace(/[^\d.]/g, ''),
                profitPercentage = $(".txtInputRmCostProfit").val().replace(/[^\d.]/g, '');
            if (totalCost != "" && profitPercentage != "" &&
              !(isNaN(totalCost) && isNaN(profitPercentage))) {
                var profit = Math.ceil(((totalCost * profitPercentage) / 100) * 100) / 100;
                $(".txtRmCostProfit").val("Rs " + profit.toFixed(2));
            } else {
                $(".txtRmCostProfit").val("");
            }
        },

        calculateProfitConversionCost = function () {
            var totalCost = $(".txtConversionCost").val().replace(/[^\d.]/g, ''),
               profitPercentage = $(".txtInputConversionCostProfit").val().replace(/[^\d.]/g, '');
            if (totalCost != "" && profitPercentage != "" &&
              !(isNaN(totalCost) && isNaN(profitPercentage))) {
                var profit = Math.ceil(((totalCost * profitPercentage) / 100) * 100) / 100;
                $(".txtConversionCostProfit").val("Rs " + profit.toFixed(2));
            } else {
                $(".txtConversionCostProfit").val("");
            }
        },

        calculateTotalProfit = function () {
            var rmProfit = $(".txtRmCostProfit").val().replace(/[^\d.]/g, ''),
               conversionProfit = $(".txtConversionCostProfit").val().replace(/[^\d.]/g, ''),
            txtTotalRmCost = $(".txtTotalRmCost").val().replace(/[^\d.]/g, ''),
            txtTotalConversionCost = $(".txtTotalConversionCost").val().replace(/[^\d.]/g, ''),
            txtTotalHtStCost = $(".txtTotalHtStCost").val().replace(/[^\d.]/g, '');
            if (rmProfit != "" && conversionProfit != "" && txtTotalRmCost != "" && txtTotalConversionCost != "" && txtTotalHtStCost != "" &&
              !(isNaN(rmProfit) && isNaN(conversionProfit) && isNaN(txtTotalRmCost) && isNaN(txtTotalConversionCost) && isNaN(txtTotalHtStCost))) {
                var profit = Math.ceil(((parseFloat(rmProfit) + parseFloat(conversionProfit) + parseFloat(txtTotalRmCost) + parseFloat(txtTotalConversionCost) + parseFloat(txtTotalHtStCost))) * 100) / 100;
                $(".txtTotal").val("Rs " + profit.toFixed(2)).addClass("total-success");
            } else {
                $(".txtTotal").val("").removeClass("total-success");
            }
        },
    
        createDynamicTextFields = function (callback) {

            var inputName = $("<input />", { class: 'txtName form-control', type: 'text', placeholder: 'Name', required: 'required' });
            var inputValue = $("<input />", { class: 'txtValue form-control', type: 'text', placeholder: 'Value', required: 'required' });

            var divCol5Name = $('<div>', { class: 'col col-lg-5' }).html(inputName);
            var divCol5Value = $('<div>', { class: 'col col-lg-5' }).html(inputValue);
            var divCol2Space = $('<div>', { class: 'col col-lg-2' }).html('<a href="#" class="btn btn-danger lnkRemove pull-right" title="remove row"><span><i class="fa fa-minus-circle"></i></span></a >');

            var divRow = $('<div>', { class: 'row' }).append(divCol5Name, divCol5Value, divCol2Space);
            var divCol4 = $('<div>', { class: 'col col-4' }).append(divRow);
            
            var divClear = $("<div>", { class: 'clear clearfix' });
            var breakLine = $("<br />");

            $(".pnlParameter").append(divCol4, divClear, breakLine);
            bindRemoveParameter();
            typeof callback === 'function' && callback();
        };

        // ajax call to save cost sheet
        var saveCostSheet = function (data) {
            var dfd = $.Deferred();
            $.ajax({
                url: '/costsheets/',
                method: "POST",
                data: { UserId: window.user.id, data: data, RfqId: rfqId, status: window.user.isAdmin ? "approved" : "pending" }
            }).done(function (response) {
                $(".lblMsg").html("<span>Saved successfully !!!</span>").removeClass("hide");
                dfd.resolve(response);
            });
            return dfd.promise();
        };

        var loadCode = setInterval(function () {
                rfqId = $(".hdnRfqId").val();

                // slider of images
                if ($(".elastislide").length > 0) {
                    $('.elastislide').elastislide();
                }
                // add dynamic fields to DOM
                $(".lnkAdd").on('click', function (e) {
                    createDynamicTextFields();
                    if ($(".txtName").length == 0) {
                        $('.btnSubmit ').hide();
                    } else {
                        $('.btnSubmit ').show();
                    }
                    e.stopImmediatePropagation();
                    return false;
                });           

                // save cost sheet to db
                $(".btnSubmit").on('click', function (e) {
                    var $me = $(this);
                    var nameValuePair = [];
                    var totalRecord = $(".txtName").length;
                    var validField = [], validPredefinedField = [];

                    for (var index = 0; index < totalRecord; index++) {
                        var itemObj = {};
                        if ($.trim($($(".txtName")[index]).val()) != "" && $.trim($($(".txtValue")[index]).val())) {
                            itemObj[$($(".txtName")[index]).val()] = $($(".txtValue")[index]).val();
                            $($(".txtName")[index]).css("border", "");
                            $($(".txtValue")[index]).css("border", "");
                            validField[index] = true;
                            nameValuePair.push(itemObj);
                        }
                        else {
                            validField[index] = false;
                            if ($.trim($($(".txtName")[index]).val()) == "") {
                                $($(".txtName")[index]).css("border", "1px solid red");
                            } else {
                                $($(".txtName")[index]).css("border", "");
                            }
                            if ($.trim($($(".txtValue")[index]).val()) == "") {
                                $($(".txtValue")[index]).css("border", "1px solid red");
                            } else {
                                $($(".txtValue")[index]).css("border", "");
                            }
                        }
                    }

                    $(".head-row").each(function (key, row) {
                        var itemObj = {};
                        for (var index = 0; index < $(row).find(".txtPredefinedValue").length; index++) {
                            if ($.trim($($(row).find(".txtPredefinedValue")[index]).val())) {
                                itemObj[$($(row).find(".txtPredefinedName")[index]).text()] = $($(row).find(".txtPredefinedValue")[index]).val();
                                $($(row).find(".txtPredefinedValue")[index]).css("border", "");
                                validPredefinedField[index] = true;                                
                            }
                            else {
                                validPredefinedField[index] = false;
                                $($(row).find(".txtPredefinedValue")[index]).css("border", "1px solid red");
                            }
                        }
                        nameValuePair.push(itemObj);
                    });
                
                    if ((validField.length > 0 && $.inArray(false, validField) < 0) || $.inArray(false, validPredefinedField) < 0) {
                        // save costsheet
                       // console.log(nameValuePair, JSON.stringify(nameValuePair));
                            $.when(saveCostSheet(JSON.stringify(nameValuePair))).then(function () {
                                window.location.href = '/rfq/' + $('.hdnRfqId').val() + '/costsheet/approval';
                            });                      
                    } else {
                        nameValuePair = [];
                    }
                    e.stopImmediatePropagation();
                    return false;
                });

                // copy data to modified it
                $(".btn-update").on('click', function () {
                    console.log($(this).data("parameter"));        
                    $(".pnlParameter").html("");
                    $(".create-costsheet").removeClass('hide');
                    var index = 0;
                    $.each($(this).data("parameter"), function (key, value) {
                        createDynamicTextFields();
                        $($(".txtName")[index]).val(key);
                        $($(".txtValue")[index]).val(value);
                        index++;
                    });
                    $('html, body').animate({
                        scrollTop: $(".txtName:first").offset().top
                    }, 800);
                });

                // status update of costsheet
                $(".lnkUpdateStatus").bind('click', function (e) {
                    if (window.user.isAdmin && confirm("You are going to change status to " + $(this).data("status") + ", sure?")) {
                        $.ajax({
                            url: '/costsheets/' + $(this).data("id"),
                            method: "PUT",
                            data: { status: $(this).data("status") }
                        }).done(function (response) {
                            window.location.reload();
                        });
                    }
                    return false;
                });

                $(".btnCancel").on('click', function () {
                    $(".pnlParameter").html("");
                    $(".create-costsheet").addClass('hide');
                });

                $(".btn-mail").on('click', function () {
                    if (window.user.isAdmin) {
                        $.ajax({
                            url: '/costsheets/mail/' + $(this).data("id"),
                            method: "POST",
                        }).done(function (response) {
                            console.log("Mail sent successfully", response);
                        });
                    }
                });

                var bindCalculationEvent = function () {
                    /*********************************** RAW MATERIAL CALCULATION****************************************/

                    $(".ddlRawMaterial").on('change', function (e) {
                        $me = $(this);
                        if ($(this).val() != "") {
                            $me.parent().parent().find('.txtRate').val($me.find('option:selected').data("rate").toFixed(2));
                            $me.parent().parent().find('.txtScrapRate').val($me.find('option:selected').data("scrap-rate").toFixed(2));
                            $me.parent().parent().find('.txtScrapRecovery').val($me.find('option:selected').data("scrap-recovery").toFixed(2));

                            calculateRmCost($me);
                        } else {
                            $me.parent().parent().find('.txtRate').val('');
                            $me.parent().parent().find('.txtScrapRate').val('');
                            $me.parent().parent().find('.txtScrapRecovery').val('');
                            $me.parent().parent().find('.txtRmCost').val('');
                            $me.parent().parent().find('.txtNetRmCost').val('');
                        }
                        calculateProfitRmCost();
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                        e.stopImmediatePropagation();
                    });

                    $(".txtCalculateCost").on('keyup', function () {
                        $me = $(this);
                        if ($me.parents('.Rawmaterial').length)
                            calculateRmCost($me);
                        if ($me.parents('.HtSt').length)
                            calculateHtStCost($me);
                    });

                    /*********************************** CONVERSION CALCULATION****************************************/

                    $(".ddlOperation").bind('change', function () {
                        $me = $(this);
                        $me.parent().parent().find(".txtConversionRate").val('');
                        $me.parent().parent().find(".txtConversionEfficiency").val('');
                        $me.parent().parent().find(".txtConversionCost").val('');
                        calculateProfitRmCost();
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                    });

                    $(".ddlMachine").on('change', function () {
                        $me = $(this);
                        if ($me.val() != "") {
                            $me.parent().parent().find(".txtConversionRate").val("Rs " + $me.find('option:selected').data("rate").toFixed(2));
                            $me.parent().parent().find(".txtConversionEfficiency").val($me.find('option:selected').data("efficiency").toFixed(2) + "%");
                            calculateConversionCost($me);
                        } else {
                            $me.parent().parent().find(".txtConversionRate").val('');
                            $me.parent().parent().find(".txtConversionEfficiency").val('');
                            $me.parent().parent().find(".txtConversionCost").val('');
                        }
                        calculateProfitRmCost();
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                    });

                    $(".txtCycleTime").on('keyup', function () {
                        $me = $(this);
                        calculateConversionCost($me);
                    });

                    /*********************************** HTST CALCULATION****************************************/
                    $(".ddlHtSt").on('change', function () {
                        $me = $(this);
                        if ($me.val() != '') {
                            $me.parent().parent().find(".txtHtStRate").val("Rs " + $me.find('option:selected').data("rate").toFixed(2));
                        }
                        else {
                            $me.parent().parent().find(".txtHtStRate").val("");
                        }
                        calculateHtStCost($me);
                        calculateProfitRmCost();
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                    });

                    $(".txtHtStRate").on('keyup', function () {
                        calculateHtStCost($me);
                        calculateProfitRmCost();
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                    });

                    /***************************************TOTAL RM COST PROFIT****************************************************/
                    $(".txtInputRmCostProfit").on('keyup', function () {
                        calculateProfitRmCost();
                        calculateTotalProfit();
                    });

                    /***************************************TOTAL Converion COST PROFIT****************************************************/
                    $(".txtInputConversionCostProfit").on('keyup', function () {
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                    });

                    /*********************************************Autogenerated value on key up********************************************************/
                    $(".txtAutogenerated").on('keyup', function () {
                        $me = $(this);
                        if ($me.parents('.Rawmaterial').length)
                            calculateRmCost($me);
                        if ($me.parents('.Conversion').length)
                            calculateConversionCost($me);
                        if ($me.parents('.HtSt').length)
                            calculateHtStCost($me);
                        calculateProfitRmCost();
                        calculateProfitConversionCost();
                        calculateTotalProfit();
                    });

                    $(".txtCostField").on('keyup', function () {
                        calculateTotalProfit();
                    });

                    $(".txtNetRmCost").on('keyup', function () {
                        var totalRmCost = 0;
                        $(".txtNetRmCost").each(function (key, value) {
                            if($(value).val() != "") {
                                totalRmCost += parseFloat($(value).val().replace(/[^\d.]/g, ''));
                            }
                        });
                        $('.txtTotalRmCost').val("Rs " + totalRmCost.toFixed(2)).trigger('keyup');
                    });

                    $(".txtConversionCost").on('keyup', function () {
                        var totalConversionCost = 0;
                        $(".txtConversionCost").each(function (key, value) {
                            if ($(value).val() != "") {
                                totalConversionCost += parseFloat($(value).val().replace(/[^\d.]/g, ''));
                            }
                        });
                        $('.txtTotalConversionCost').val("Rs " + totalConversionCost.toFixed(2)).trigger('keyup');
                    });

                    $(".txtHtStCost").on('keyup', function () {
                        var totalHtStCost = 0
                        $(".txtHtStCost").each(function (key, value) {
                            if ($(value).val() != "") {
                                totalHtStCost += parseFloat($(value).val().replace(/[^\d.]/g, ''));
                            }
                        });
                        $(".txtTotalHtStCost").val("Rs " + totalHtStCost.toFixed(2)).trigger('keyup');
                    });
                },

                bindRemoveRowEvent = function () {
                    $(".row-remove").bind('click', function () {
                        var $target = $(this).parents('.head-row');
                        $target.hide('slow', function () {
                            $target.remove();
                            $(".txtNetRmCost").trigger('keyup');
                            $(".txtConversionCost").trigger('keyup');
                            $(".txtHtStCost").trigger('keyup');
                        });
                    });
                };

                $(".lnkAddPanel").on('click', function (e) {
                    $me = $(this);
                    $.get($(this).data('url'), function (response) {
                        angular.element(document).injector().invoke(function ($compile) {
                            var obj = $("." + $me.data('class')); // get wrapper
                            var scope = obj.scope(); // get scope
                            // generate dynamic content
                            obj.append($compile(response)(scope));
                            bindCalculationEvent();
                            bindRemoveRowEvent();
                        });
                    });
                    e.stopImmediatePropagation();
                });

                bindCalculationEvent();
            
                if ($(".hdnRfqId").length > 0 && $(".hdnRfqId").val() != "") {
                    clearInterval(loadCode);
                }
        }, 500);
    });


    </script>
<!--<script src="/js/view/costsheet.js"></script>-->
